<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<ng-container *ngIf="amortizationSchedule$ | async as schedule">
  <h2 mat-dialog-title translate>Amortization schedule</h2>
  <mat-dialog-content>
    <td-message *ngIf="!schedule.validPrincipal"
                label="{{'Invalid repayment amount' | translate }}"
                sublabel="{{'The amount you entered is below or above the allowed principal for this loan product' | translate }}"
                color="warn">
    </td-message>
    <div layout="column" *ngIf="schedule.amortizationDetail as amortizationDetail">
      <mat-form-field>
        <input matInput placeholder="{{'Principal' | translate}}" [value]="amortizationDetail.loanAmount | displayFimsNumber" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'Interest rate' | translate}}" [value]="(amortizationDetail.interestRate | displayFimsNumber) + '%'" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'Duration' | translate}}" [value]="amortizationDetail.term" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'Payment' | translate}}" [value]="amortizationDetail.payment | displayFimsNumber" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'Fees' | translate}}" [value]="amortizationDetail.originationFee | displayFimsNumber" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'Maturity date' | translate}}" [value]="amortizationDetail.maturityDate | date" disabled>
      </mat-form-field>
    </div>
    <table td-data-table>
      <thead>
        <tr td-data-table-column-row>
          <th td-data-table-column>
            {{'Date' | translate}}
          </th>
          <th td-data-table-column>
            {{'Payment' | translate}}
          </th>
          <th td-data-table-column>
            {{'Principal' | translate}}
          </th>
          <th td-data-table-column>
            {{'Interest' | translate}}
          </th>
          <th td-data-table-column>
            {{'Balance' | translate}}
          </th>
        </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let period of schedule.amortizationPeriods">
        <tr td-data-table-row>
          <td td-data-table-cell>
            <b>{{period.year}}</b>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr td-data-table-row *ngFor="let row of period.amortizationRows">
          <td td-data-table-cell>
            {{row.date | date}}
          </td>
          <td td-data-table-cell>
            {{row.payment | displayFimsNumber}}
          </td>
          <td td-data-table-cell>
            {{row.principal | displayFimsNumber}}
          </td>
          <td td-data-table-cell>
            {{row.interest | displayFimsNumber}}
          </td>
          <td td-data-table-cell>
            {{row.balance | displayFimsNumber}}
          </td>
        </tr>
        <tr td-data-table-row>
          <td td-data-table-cell>
            <i>{{period.year}}</i>&nbsp;<i translate>Subtotal</i>
          </td>
          <td td-data-table-cell>
            <i>{{period.amortizationSum.paymentTotal | displayFimsNumber}}</i>
          </td>
          <td td-data-table-cell>
            <i>{{period.amortizationSum.principalTotal | displayFimsNumber}}</i>
          </td>
          <td td-data-table-cell>
            <i>{{period.amortizationSum.interestTotal | displayFimsNumber}}</i>
          </td>
          <td td-data-table-cell>
            <i>{{period.amortizationSum.feesTotal | displayFimsNumber}}</i>
          </td>
        </tr>
      </ng-container>
      <tr td-data-table-row>
        <td td-data-table-cell>
          <b translate>Total</b>
        </td>
        <td td-data-table-cell>
          <b>{{schedule.amortizationSum.paymentTotal | displayFimsNumber}}</b>
        </td>
        <td td-data-table-cell>
          <b>{{schedule.amortizationSum.principalTotal | displayFimsNumber}}</b>
        </td>
        <td td-data-table-cell>
          <b>{{schedule.amortizationSum.interestTotal | displayFimsNumber}}</b>
        </td>
        <td td-data-table-cell>
          <b>{{schedule.amortizationSum.feesTotal | displayFimsNumber}}</b>
        </td>
      </tr>
      <tr td-data-table-row *ngIf="schedule.outstandingBalance">
        <td td-data-table-cell>
          <b translate>Outstanding balance</b>
        </td>
        <td td-data-table-cell>
          <b>{{schedule.outstandingBalance | displayFimsNumber}}</b>
        </td>
        <td td-data-table-cell>
        </td>
        <td td-data-table-cell>
        </td>
        <td td-data-table-cell>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close translate>CANCEL</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="schedule" [disabled]="!schedule.validPrincipal" translate>
      ACCEPT SCHEDULE FOR AGREEMENT
    </button>
  </mat-dialog-actions>
</ng-container>
