<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Download report' | translate" (action)="exportDepositAccountList()" *hasPermission="{ id: 'reporting_management', accessLevel: 'READ'}"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card>
    <form [formGroup]="form" layout="row">
      <mat-form-field layout-margin>
        <input matInput type="date" placeholder="{{'Start date' | translate}}" formControlName="startDate">
      </mat-form-field>
      <mat-form-field layout-margin>
        <input matInput type="date" placeholder="{{'End date' | translate}}" formControlName="endDate">
        <mat-hint class="tc-red-500" *ngIf="form.hasError('rangeInvalid')" translate>Invalid date range</mat-hint>
      </mat-form-field>
      <mat-form-field layout-margin>
        <mat-select formControlName="state" placeholder="{{ 'State' | translate }}">
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field layout-margin>
        <mat-select formControlName="type" placeholder="{{ 'Type' | translate }}">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <aten-employee-auto-complete title="{{'Employee (optional)' | translate}}" formControlName="createdBy">
        <ng-container *ngIf="form.get('createdBy').hasError('invalidEmployee')" translate>
          Invalid employee
        </ng-container>
      </aten-employee-auto-complete>
      <span>
      <button layout-margin mat-button mat-icon-button (click)="fetchDepositAccounts()" [disabled]="!form.valid" title="{{'Run report preview (limited to 100 entries)' | translate}}"><mat-icon>visibility</mat-icon></button>
    </span>
    </form>
  </aten-form-card>
  <aten-data-table
    [columns]="columns"
    [data]="depositAccountListEntries$ | async"
    [sortable]="false"
    [pageable]="false"
    [clickable]="false">
  </aten-data-table>
  <div class="mat-padding" *ngIf="(depositAccountListEntries$ | async)?.data?.length > 100" layout="row" layout-align="center center">
    <h4 translate>This preview is limited to 100 entries. To view all entries, download the report.</h4>
  </div>
</aten-page>
