<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header></aten-header>
<aten-page>
  <aten-form-card>
    <div layout="row" layout-align="start start" layout-margin>
      <div layout="column" flex="100">
        <div layout="row" layout-align="start start" *ngFor="let step of processSteps$ | async">
          <div layout="column" flex="100">
            <h5 translate [translateParams]="{ value: step.command.action }">Please verify the following tasks before you can action this member</h5>
            <aten-customer-task *ngFor="let task of step.taskDefinitions"
                                [task]="task"
                                (onSelectTask)="executeTask($event)">
            </aten-customer-task>
            <div layout="row" layout-align="start center">
              <mat-form-field layout-margin flex>
              <textarea matInput placeholder="{{'Enter your comment here...' | translate}}"
                        [(ngModel)]="step.command.comment"></textarea>
              </mat-form-field>
              <button mat-raised-button style="margin-left: 10px;" color="accent" (click)="executeCommand(step.command)">
                {{step.command.action | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aten-form-card>
</aten-page>
