<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div layout="row" layout-fill layout-align="center center">
  <div flex="100" flex-gt-sm="50" flex-gt-md="35" layout="column">
    <mat-card>
      <mat-card-title translate>Member search</mat-card-title>
      <mat-card-content layout="column">
        <td-search-input #searchInput placeholder="{{'Enter search here' | translate}}" [showUnderline]="true" [debounce]="500" (searchDebounce)="search($event)" (clear)="clearSearch()">
        </td-search-input>
        <mat-list>
          <h3 mat-subheader translate>Search results</h3>
          <ng-template let-item let-last="last" ngFor [ngForOf]="customer$ | async">
            <mat-list-item>
              <mat-icon mat-list-icon class="fill-grey-700">face</mat-icon>
              <h4 matLine>{{item.surname}}, {{item.givenName}}</h4>
              <button mat-raised-button color="accent" title="{{'SHOW' | translate}}" (click)="showCustomer(item.identifier)">{{'SHOW' | translate}}</button>
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
          </ng-template>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<a mat-fab color="accent" class="fab-button" (click)="logout()" title="{{'Pause' | translate}}">
  <mat-icon>pause</mat-icon>
</a>
