<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'Save' | translate" (action)="onSave()" [disabled]="!formGroup.valid"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card [title]="'Upload document' | translate" [state]="formGroup.valid ? 'valid' : formGroup.pristine ? 'unknown' : 'invalid'">
    <form [formGroup]="formGroup" layout="column" layout-align="start start">
      <mat-form-field layout-margin>
        <mat-select formControlName="type" placeholder="{{ 'Document type' | translate }}">
          <mat-option *ngFor="let type of typeOptions" [value]="type.type">
            {{type.label | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div layout="row" layout-align="start center">
        <mat-form-field tdFileDrop
                        [disabled]="true"
                        flex layout-margin>
          <input matInput
                 placeholder="{{'Selected file' | translate }}"
                 [value]="formGroup.get('file').value ? formGroup.get('file').value.name : ''"
                 [disabled]="true"
                 readonly/>
          <mat-hint class="tc-red-500" *ngIf="formGroup.get('file').hasError('maxFileSize')">
            {{ 'Max file size' | translate:{ value: formGroup.get('file').getError('maxFileSize')['value']} }}
          </mat-hint>
          <mat-hint class="tc-red-500" *ngIf="formGroup.get('file').hasError('mediaType')">
            {{ 'Only pdf, png or jpg allowed' | translate }}
          </mat-hint>
        </mat-form-field>
        <button mat-icon-button *ngIf="formGroup.get('file').value" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
          <mat-icon>cancel</mat-icon>
        </button>
        <td-file-input class="push-left-sm push-right-sm" #fileInput formControlName="file" accept=".jpg,.png,.pdf">
          <mat-icon>folder</mat-icon>
          <span class="text-upper" translate>Browse...</span>
        </td-file-input>
      </div>
      <mat-form-field layout-margin flex>
        <textarea matInput placeholder="{{'Description(optional)' | translate}}" formControlName="description"></textarea>
      </mat-form-field>
      <aten-date-input [form]="formGroup" controlName="expirationDate" placeholder="{{'Expiration date(optional)' | translate}}"></aten-date-input>
    </form>
  </aten-form-card>
</aten-page>
