<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<form [formGroup]="formGroup">
  <div layout="row">
    <mat-slide-toggle formControlName="enabled" layout-margin>
      {{'Enable loan allowance?' | translate}}
    </mat-slide-toggle>
  </div>
  <aten-account-select title="{{'Loss allowance account(Expense accounts only)' | translate}}"
                       formControlName="loanLossAllowanceAccount"
                       [type]="'EXPENSE'"
                       *ngIf="formGroup.get('loanLossAllowanceAccount').status !== 'DISABLED'">
    <ng-container *ngIf="!formGroup.get('loanLossAllowanceAccount').pristine && formGroup.get('loanLossAllowanceAccount').hasError('required')" translate>
      Required
    </ng-container>
    <ng-container *ngIf="formGroup.get('loanLossAllowanceAccount').hasError('invalidAccount')" translate>
      Invalid account
    </ng-container>
  </aten-account-select>
  <aten-account-select title="{{'Cash account(Asset accounts only)' | translate}}"
                       formControlName="cashAccount"
                       [type]="'ASSET'"
                       *ngIf="formGroup.get('cashAccount').status !== 'DISABLED'">
    <ng-container *ngIf="!formGroup.get('cashAccount').pristine && formGroup.get('cashAccount').hasError('required')" translate>
      Required
    </ng-container>
    <ng-container *ngIf="formGroup.get('cashAccount').hasError('invalidAccount')" translate>
      Invalid account
    </ng-container>
  </aten-account-select>
  <div layout="column">
    <div layout="row" layout-align="start center" *ngIf="getStage('initialStage').status !== 'DISABLED'">
      <span flex="5" translate>Initial</span>
      <aten-number-input [form]="getStage('initialStage')" controlName="percentage" placeholder="{{'Percentage' | translate}}"></aten-number-input>
    </div>
    <div layout="row" layout-align="start center" *ngIf="getStage('firstStage').status !== 'DISABLED'">
      <span flex="5" translate>Stage 1</span>
      <aten-number-input [form]="getStage('firstStage')" controlName="percentage" placeholder="{{'Percentage' | translate}}"></aten-number-input>
    </div>
    <div layout="row" layout-align="start center" *ngIf="getStage('secondStage').status !== 'DISABLED'">
      <span flex="5" translate>Stage 2</span>
      <aten-number-input [form]="getStage('secondStage')" controlName="percentage" placeholder="{{'Percentage' | translate}}"></aten-number-input>
      <aten-text-input type="number" [form]="getStage('secondStage')" controlName="pastDueDays" placeholder="{{'Past due days' | translate}}"></aten-text-input>
      <aten-text-input type="number" [form]="getStage('secondStage')" controlName="curePeriod" placeholder="{{'Cure period' | translate}}"></aten-text-input>
    </div>
    <div layout="column" *ngIf="getStage('thirdStage').status !== 'DISABLED'">
      <div layout="row" layout-align="start center">
        <span flex="5" translate>Stage 3</span>
        <aten-number-input [form]="getStage('thirdStage')" controlName="percentage" placeholder="{{'Percentage' | translate}}"></aten-number-input>
        <aten-text-input type="number" [form]="getStage('thirdStage')" controlName="pastDueDays" placeholder="{{'Past due days' | translate}}"></aten-text-input>
        <aten-text-input type="number" [form]="getStage('thirdStage')" controlName="curePeriod" placeholder="{{'Cure period' | translate}}"></aten-text-input>
      </div>
      <span class="mat-caption tc-red-700" *ngIf="formGroup.hasError('dueDays')">
        {{'Due days of third stage must be higher than due days of second stage' | translate}}
      </span>
    </div>
  </div>
</form>
