<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<aten-header></aten-header>
<aten-page>
  <aten-form-card>
    <td-steps mode="'vertical'">
      <td-step #transactionStep label="{{'Transaction' | translate}}"
               [state]="form.valid ? 'complete' : form.pristine ? 'none' : 'required'" [disabled]="transactionCreated">
        <form [formGroup]="form" layout="column" layout-align="start start">
          <mat-form-field layout-margin>
            <mat-select formControlName="agreement" placeholder="{{ 'Select agreement' | translate }}">
              <mat-option *ngFor="let agreement of agreements" [value]="agreement">
                {{agreement.loanAccount}}({{agreement.productShortName}})
              </mat-option>
            </mat-select>
          </mat-form-field>
          <aten-text-input
            type="number"
            [form]="form"
            controlName="amount"
            placeholder="{{'Amount' | translate}}">
          </aten-text-input>
          <p *ngIf="nextPayment">
            <span *ngIf="!lastPayment" [translate]="'Next payment'" [translateParams]="{ value: nextPayment | displayFimsNumber}"></span>
            <span *ngIf="lastPayment" [translate]="'Last payment'" [translateParams]="{ value: nextPayment | displayFimsNumber}"></span>
          </p>
          <aten-payment-options
            [options]="paymentOptions"
            [form]="form"
            controlName="paymentType"
            title="How should the amount be paid?">
          </aten-payment-options>
          <aten-deposit-account-select
            [productInstances]="productInstances"
            [form]="form"
            [controlName]="'targetAccountIdentifier'"
            [placeholder]="'Select transfer account' | translate"
            *ngIf="form.get('targetAccountIdentifier').status !== 'DISABLED'">
          </aten-deposit-account-select>
          <aten-teller-cheque-form
            *ngIf="chequeForm.status !== 'DISABLED'"
            [formGroup]="chequeForm"
            [micrResolutionError]="micrResolutionError$ | async"
            (onExpandMICR)="expandMICR()">
          </aten-teller-cheque-form>
        </form>
        <ng-template td-step-actions>
          <button mat-raised-button color="primary" (click)="createTransaction()" [disabled]="createTransactionDisabled">{{'CREATE TRANSACTION' | translate}}</button>
          <span flex></span>
          <button mat-button (click)="cancel()" [disabled]="transactionCreated">{{'CANCEL' | translate}}</button>
        </ng-template>
      </td-step>
      <td-step #confirmationStep label="{{'Confirmation' | translate}}">
        <div layout="row" layout-align="center center">
          <mat-card flex-gt-xs="50">
            <mat-card-header>
              <mat-card-title translate>Costs</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <aten-teller-transaction-cost
                [transactionAmount]="form.get('amount').value"
                [transactionCosts]="transactionCosts">
              </aten-teller-transaction-cost>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" [disabled]="confirmTransactionDisabled" (click)="confirmTransaction()">
                {{'CONFIRM TRANSACTION' | translate}}
              </button>
              <button mat-button [disabled]="confirmTransactionDisabled" (click)="cancelTransaction()">{{'CANCEL TRANSACTION' | translate}}</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </td-step>
      <td-step label="{{'Final step' | translate}}" [state]="'complete'">
        <ng-template td-step-summary>
          <button mat-raised-button color="primary" [disabled]="printReceiptDisabled" (click)="printReceipt()">
            {{'PRINT RECEIPT' | translate}}
          </button>
          <span flex></span>
          <button mat-button [disabled]="printReceiptDisabled" (click)="cancel()">
            {{'GO TO CUSTOMER' | translate}}
          </button>
        </ng-template>
      </td-step>
    </td-steps>
  </aten-form-card>
</aten-page>

