<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<h2 mat-dialog-title translate>
  {{data.command | titlecase}}
</h2>
<mat-dialog-content>
  <mat-selection-list #assessmentSelection *ngIf="pendingAssessments$ | async as assessments">
    <h3 matSubheader translate *ngIf="assessments.length > 0" translate>Please confirm the following assessment</h3>
    <mat-list-option *ngFor="let assessment of assessments">
      <h3 matLine>{{assessment.note}}</h3>
      <p matLine *ngIf="assessment.guarantorNeeded">
        <span translate>Guarantor needed</span>
      </p>
      <p matLine>
        <span [translate]="'Sent from'" [translateParams]="{ createdBy: assessment.createdBy, createdOn: assessment.createdOn | date:'medium' }"></span>
      </p>
    </mat-list-option>
  </mat-selection-list>
  <form [formGroup]="formGroup">
    <aten-text-input
      [form]="formGroup"
      controlName="note"
      placeholder="{{'Please enter a note' | translate}}"
      [hideIfDisabled]="true">
    </aten-text-input>
    <mat-slide-toggle
      formControlName="guarantorNeeded"
      *ngIf="formGroup.get('guarantorNeeded').status !== 'DISABLED'"
      layout-margin
      translate>
      Guarantor needed
    </mat-slide-toggle>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close translate>CANCEL</button>
  <ng-container [ngSwitch]="data.command">
    <button mat-button *ngSwitchCase="'UNDERWRITE'" color="accent" (click)="underwrite()" [disabled]="!isValid" translate>SEND TO UNDERWRITING</button>
    <button mat-button *ngSwitchCase="'APPROVE'" color="accent" (click)="approve()" [disabled]="!isValid" translate>APPROVE AGREEMENT</button>
    <button mat-button *ngSwitchCase="'DECLINE'" color="accent" (click)="decline()" [disabled]="!isValid" translate>DECLINE AGREEMENT</button>
    <button mat-button *ngSwitchCase="'RETURN'" color="accent" (click)="return()" [disabled]="!isValid" translate>RETURN AGREEMENT</button>
    <button mat-button *ngSwitchCase="'RESTRUCTURE'" color="accent" (click)="restructure()" [disabled]="!isValid" translate>RESTRUCTURE AGREEMENT</button>
  </ng-container>
</mat-dialog-actions>
