<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'PROCESS CHEQUE' | translate" (action)="onProcessCheque()" [disabled]="form.invalid || chequeProcessed"></aten-header-primary-action>
    <aten-header-primary-action [title]="'PRINT CHEQUE' | translate" (action)="onPrintCheque()" [disabled]="form.invalid || !chequeProcessed"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card [state]="form.valid ? 'valid' : form.pristine ? 'unknown' : 'invalid'">
    <form [formGroup]="form" layout="column">
      <mat-form-field layout-margin>
        <mat-select formControlName="template" placeholder="{{ 'Templates' | translate }}">
          <mat-option *ngFor="let template of chequeTemplates" [value]="template">
            {{template.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <aten-office-select title="{{'Branch' | translate}}" formControlName="branch">
        <ng-container *ngIf="!form.get('branch').pristine && form.get('branch').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('branch').hasError('invalidOffice')" translate>
          Invalid office
        </ng-container>
      </aten-office-select>
      <aten-account-select title="{{'Bank account(Asset accounts only)' | translate}}" formControlName="bankAccount" [type]="'ASSET'">
        <ng-container *ngIf="!form.get('bankAccount').pristine && form.get('bankAccount').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('bankAccount').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <aten-account-select title="{{'Payable account(Liability accounts only)' | translate}}" formControlName="payableAccount" [type]="'LIABILITY'">
        <ng-container *ngIf="!form.get('payableAccount').pristine && form.get('payableAccount').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('payableAccount').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <aten-text-input [form]="form" controlName="payeeName" placeholder="{{'Payee' | translate}}"></aten-text-input>
      <aten-number-input [form]="form" controlName="amount" placeholder="{{'Amount' | translate}}"></aten-number-input>
      <mat-form-field layout-margin>
        <mat-select formControlName="currencyCode" placeholder="{{ 'Currency' | translate }}">
          <mat-option *ngFor="let currency of currencies" [value]="currency.code">
            {{currency.code}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <aten-text-input
        [form]="form"
        controlName="chequeNumber"
        placeholder="{{'Cheque number' | translate}}">
      </aten-text-input>
      <mat-checkbox formControlName="saveAsTemplate" layout-margin>
        {{'Save as template?' | translate}}
      </mat-checkbox>
      <aten-id-input [form]="form" controlName="templateName" placeholder="{{'Template name' | translate}}"></aten-id-input>
    </form>
  </aten-form-card>
</aten-page>

