<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Edit' | translate" (action)="editTeller()" *hasPermission="{ id: 'teller_management', accessLevel: 'CHANGE'}"></aten-header-primary-action>
  </aten-header-primary-actions>
  <aten-header-nav-actions>
    <aten-header-nav-action [title]="'Teller balance' | translate" (action)="viewBalance()"></aten-header-nav-action>
    <aten-header-nav-action [title]="'Denominations' | translate" (action)="viewDenominations()"></aten-header-nav-action>
  </aten-header-nav-actions>
</aten-header>
<aten-page *ngIf="teller$ | async as teller">
  <td-message *ngIf="isClosed$ | async" label="{{'Teller can be opened' | translate }}" color="warn" icon="error">
    <a td-message-actions mat-button [routerLink]="['command']" [queryParams]="{ action: 'OPEN'}"
       *hasPermission="{ id: 'teller_management', accessLevel: 'CHANGE'}" translate>OPEN TELLER
    </a>
  </td-message>
  <td-message *ngIf="!(isClosed$ | async)" label="{{'Teller can be closed' | translate }}" color="accent" icon="check">
    <a td-message-actions mat-button [routerLink]="['command']" [queryParams]="{ action: 'CLOSE'}"
       *hasPermission="{ id: 'teller_management', accessLevel: 'CHANGE'}" translate>CLOSE TELLER
    </a>
  </td-message>
  <aten-form-card>
    <aten-text-detail [title]="'Current status' | translate" [value]="teller.state"></aten-text-detail>
    <aten-text-detail [title]="'Number' | translate" [value]="teller.code"></aten-text-detail>
    <aten-number-detail [title]="'Cash withdrawal limit' | translate" [value]="teller.cashdrawLimit"></aten-number-detail>
    <aten-boolean-detail [title]="'Denomination required?' | translate" [value]="teller.denominationRequired"></aten-boolean-detail>
    <aten-date-detail [title]="'Created by' | translate" [textValue]="teller.createdBy" [dateValue]="teller.createdOn"></aten-date-detail>
    <aten-date-detail [title]="'Last modified by' | translate" [textValue]="teller.lastModifiedBy" [dateValue]="teller.lastModifiedOn"></aten-date-detail>
    <aten-date-detail [title]="'Last opened by' | translate" [textValue]="teller.lastOpenedBy" [dateValue]="teller.lastOpenedOn"></aten-date-detail>
  </aten-form-card>
  <aten-form-card [title]="'Accounts' | translate">
    <aten-text-detail [title]="'Teller account' | translate" [value]="teller.tellerAccountIdentifier"></aten-text-detail>
    <aten-text-detail [title]="'Vault account' | translate" [value]="teller.vaultAccountIdentifier"></aten-text-detail>
    <aten-text-detail [title]="'Cheques receivable account' | translate" [value]="teller.chequesReceivableAccount"></aten-text-detail>
    <aten-text-detail [title]="'Cheques payable account' | translate" [value]="teller.chequesPayableAccount"></aten-text-detail>
    <aten-text-detail [title]="'Notes payable account' | translate" [value]="teller.notesPayableAccount"></aten-text-detail>
    <aten-text-detail [title]="'ACH payable account' | translate" [value]="teller.achPayableAccount"></aten-text-detail>
    <aten-text-detail [title]="'Cash over short account' | translate" [value]="teller.cashOverShortAccount"></aten-text-detail>
  </aten-form-card>
</aten-page>
