:host {
  position: sticky;
}

.title {
  color: grey
}

.title-row {
  margin-bottom: 16px;
}

.header-container {
  border-bottom: 1px solid rgba(0,0,0,.12);
  margin-left: 23px;
  margin-right: 23px;
}
