<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'Save' | translate" (action)="onSave()" [disabled]="!isValid"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card [title]="'Choose product type' | translate">
    <form [formGroup]="formGroup">
      <mat-radio-group formControlName="type">
        <mat-radio-button value="CONSUMER" layout-margin>
          {{ 'Consumer' | translate }}
        </mat-radio-button>
        <mat-radio-button value="COLLATERAL" layout-margin>
          {{ 'Collateral' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </form>
  </aten-form-card>
  <aten-form-card [state]="formGroup.valid ? 'valid' : formGroup.pristine ? 'unknown' : 'invalid'">
    <form [formGroup]="formGroup" layout="column">
      <aten-id-input [form]="formGroup" [placeholder]="'Short name'" controlName="shortName" [readonly]="false"></aten-id-input>
      <aten-text-input [form]="formGroup" controlName="name" placeholder="{{'Name' | translate}}"></aten-text-input>
      <mat-form-field layout-margin flex>
        <textarea matInput placeholder="{{'Description(optional)' | translate}}" formControlName="description"></textarea>
        <mat-error *ngIf="formGroup.get('description').hasError('required')" translate>
          Required
        </mat-error>
        <mat-error *ngIf="formGroup.get('description').hasError('maxlength')">
          {{ 'Only characters allowed.' | translate:{ value: formGroup.get('description').getError('maxlength')['requiredLength']} }}
        </mat-error>
      </mat-form-field>
      <mat-form-field layout-margin>
        <mat-select formControlName="currencyCode" placeholder="{{ 'Currency' | translate }}">
          <mat-option *ngFor="let currency of currencies" [value]="currency.code">
            {{currency.code}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <aten-account-select title="{{'Funding account(Equity accounts only)' | translate}}" formControlName="fundingAccount" [type]="'EQUITY'">
        <ng-container *ngIf="!formGroup.get('fundingAccount').pristine && formGroup.get('fundingAccount').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="formGroup.get('fundingAccount').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <aten-ledger-select title="{{'Loan appropriations ledger(Liability ledgers only)' | translate}}" formControlName="loanAppropriationsLedger" [type]="'LIABILITY'">
        <ng-container *ngIf="!formGroup.get('loanAppropriationsLedger').pristine && formGroup.get('loanAppropriationsLedger').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="formGroup.get('loanAppropriationsLedger').hasError('invalidLedger')" translate>
          Invalid ledger
        </ng-container>
      </aten-ledger-select>
      <aten-ledger-select title="{{'Member loan ledger(Asset ledgers only)' | translate}}" formControlName="memberLoanLedger" [type]="'ASSET'">
        <ng-container *ngIf="!formGroup.get('memberLoanLedger').pristine && formGroup.get('memberLoanLedger').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="formGroup.get('memberLoanLedger').hasError('invalidLedger')" translate>
          Invalid ledger
        </ng-container>
      </aten-ledger-select>
      <aten-ledger-select title="{{'Arrears ledger(Asset ledgers only, optional)' | translate}}" formControlName="arrearsLedger" [type]="'ASSET'">
        <ng-container *ngIf="formGroup.get('arrearsLedger').hasError('invalidLedger')" translate>
          Invalid ledger
        </ng-container>
      </aten-ledger-select>
      <mat-form-field layout-margin>
        <mat-select formControlName="paymentPolicy" placeholder="{{ 'Payment policy' | translate }}">
          <mat-option *ngFor="let policy of paymentPolicies" [value]="policy">
            {{policy.payments.join(', ') | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div layout="row">
        <mat-slide-toggle formControlName="debtToIncomeRatioRequired" layout-margin>
          {{'Debt to income ratio required?' | translate}}
        </mat-slide-toggle>
      </div>
      <aten-number-input [form]="formGroup"
                         controlName="debtToIncomePreferredRatio"
                         placeholder="{{'Preferred ratio' | translate}}"
                         *ngIf="formGroup.get('debtToIncomePreferredRatio').status !== 'DISABLED'">
      </aten-number-input>
      <aten-number-input [form]="formGroup"
                         controlName="debtToIncomeRiskedRatio"
                         placeholder="{{'Risked ratio' | translate}}"
                         *ngIf="formGroup.get('debtToIncomeRiskedRatio').status !== 'DISABLED'">
      </aten-number-input>
      <td-chips placeholder="{{'Enter purpose' | translate}}" formControlName="purposes"></td-chips>
    </form>
  </aten-form-card>
  <aten-form-card [title]="'Term' | translate">
    <form [formGroup]="formGroup" layout="column">
      <div layout="column">
        <span translate>Duration period:</span>
        <mat-radio-group formControlName="durationPeriod">
          <mat-radio-button *ngFor="let basis of payableOptions" [value]="basis.type" layout-margin>
            {{ basis.label | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div layout="row">
        <mat-slide-toggle formControlName="durationRangeEnabled" layout-margin>
          {{'Duration range?' | translate}}
        </mat-slide-toggle>
      </div>
      <div layout="row" *ngIf="formGroup.get('durationRangeEnabled').value === false">
        <aten-text-input [form]="formGroup" controlName="durationMax" placeholder="{{'Duration' | translate}}"></aten-text-input>
      </div>
      <div layout="column" *ngIf="formGroup.get('durationRangeEnabled').value === true">
        <aten-text-input [form]="formGroup" controlName="durationMin" placeholder="{{'Minimum duration' | translate}}"></aten-text-input>
        <aten-text-input [form]="formGroup" controlName="durationMax" placeholder="{{'Maximum duration' | translate}}"></aten-text-input>
      </div>
      <div layout="row">
        <mat-slide-toggle formControlName="loanPeriodEnabled" layout-margin>
          {{'Enable partial amortization?' | translate}}
        </mat-slide-toggle>
      </div>
      <div layout="row" layout-align="start center" *ngIf="formGroup.get('loanPeriodEnabled').value">
        <aten-text-input [form]="formGroup" controlName="loanPeriodDuration" placeholder="{{'Stop repayments after' | translate}}"></aten-text-input>
        <mat-radio-group formControlName="loanPeriod">
          <mat-radio-button *ngFor="let basis of payableOptions" [value]="basis.type" layout-margin>
            {{ basis.label | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div layout="row">
        <mat-slide-toggle formControlName="principalRangeEnabled" layout-margin>
          {{'Principal range?' | translate}}
        </mat-slide-toggle>
      </div>
      <div layout="row" *ngIf="formGroup.get('principalRangeEnabled').value === false">
        <aten-number-input [form]="formGroup" controlName="principalMax" placeholder="{{'Principal' | translate}}"></aten-number-input>
      </div>
      <aten-min-max flex
                    minPlaceholder="{{'Minimum principal' | translate}}"
                    maxPlaceholder="{{'Maximum principal' | translate}}"
                    [form]="formGroup"
                    minControlName="principalMin"
                    maxControlName="principalMax"
                    [requireDecimal]="false"
                    [decimalLimit]="2"
                    *ngIf="formGroup.get('principalRangeEnabled').value === true">
      </aten-min-max>
      <aten-loan-product-interest-form
        [form]="formGroup">
      </aten-loan-product-interest-form>
      <div layout="row">
        <aten-text-input [form]="formGroup" controlName="gracePeriodInDays" placeholder="{{'Grace period in days(optional)' | translate}}"></aten-text-input>
      </div>
    </form>
  </aten-form-card>
  <aten-form-card [title]="'Approval limits' | translate" [state]="limitsFormGroup.valid ? 'valid' : limitsFormGroup.pristine ? 'unknown' : 'invalid'">
    <aten-loan-product-limits-form
      [roles]="roles"
      [formGroup]="limitsFormGroup"
      (onAddLimit)="onAddLimit()"
      (onRemoveLimit)="onRemoveLimit($event)">
    </aten-loan-product-limits-form>
  </aten-form-card>
  <aten-form-card [title]="'Fees' | translate" [state]="chargesFormGroup.valid ? 'valid' : chargesFormGroup.pristine ? 'unknown' : 'invalid'">
    <aten-loan-product-charges-form
      [actions]="actions"
      [formGroup]="chargesFormGroup"
      (onAddCharge)="onAddCharge()"
      (onRemoveCharge)="onRemoveCharge($event)">
    </aten-loan-product-charges-form>
  </aten-form-card>
  <aten-form-card [title]="'Loss allowance' | translate" [state]="isLossAllowanceStepValid ? 'valid' : isLossAllowanceStepPristine ? 'unknown' : 'invalid'">
    <form [formGroup]="stopDaysFormGroup">
      <mat-slide-toggle formControlName="enabled" layout-margin>
        {{'Pause interest accrual when delinquent?' | translate}}
      </mat-slide-toggle>
      <aten-text-input [form]="stopDaysFormGroup"
                       controlName="stopAccrualAfterDays"
                       placeholder="{{'Pause accrual after(in days)' | translate}}"
                       *ngIf="!stopDaysFormGroup.get('stopAccrualAfterDays').disabled">
      </aten-text-input>
    </form>
    <aten-loan-product-loss-allowance-form [formGroup]="lossAllowanceFormGroup"></aten-loan-product-loss-allowance-form>
  </aten-form-card>
  <aten-form-card [title]="'Collateral' | translate" [state]="collateralFormGroup.valid ? 'valid' : collateralFormGroup.pristine ? 'unknown' : 'invalid'" *ngIf="formGroup.get('type').value === 'COLLATERAL'">
    <aten-loan-product-collateral-form
      [fields]="fields"
      [form]="collateralFormGroup"
      (onSaveField)="saveField($event)"
      (onRemoveField)="removeField($event)">
    </aten-loan-product-collateral-form>
  </aten-form-card>
</aten-page>
