<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<form [formGroup]="formGroup" layout="column">
  <div layout="row">
    <mat-slide-toggle formControlName="enabled" layout-margin>
      {{'Enable administration fee?' | translate}}
    </mat-slide-toggle>
  </div>
  <div layout="column" *ngIf="formGroup.get('period').status !== 'DISABLED'">
    <span translate>Payable:</span>
    <mat-radio-group formControlName="period">
      <mat-radio-button *ngFor="let basis of payableOptions" [value]="basis.type" layout-margin>
        {{ basis.label | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div layout="row" *ngIf="formGroup.get('amount').status !== 'DISABLED'">
    <aten-number-input [form]="formGroup" controlName="amount" placeholder="{{'Amount' | translate}}"></aten-number-input>
  </div>
  <aten-account-select title="{{'Income account(Revenue accounts only)' | translate}}" formControlName="incomeAccount" [type]="'REVENUE'" *ngIf="formGroup.get('incomeAccount').status !== 'DISABLED'">
    <ng-container *ngIf="!formGroup.get('incomeAccount').pristine && formGroup.get('incomeAccount').hasError('required')" translate>
      Required
    </ng-container>
    <ng-container *ngIf="formGroup.get('incomeAccount').hasError('invalidAccount')" translate>
      Invalid account
    </ng-container>
  </aten-account-select>
</form>
