<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<form [formGroup]="formGroup">
  <div layout-gt-xs="column" layout-margin formArrayName="limits">
    <mat-card *ngFor="let limit of limits; let i=index" [formGroupName]="i">
      <mat-card-content layout="row">
        <mat-form-field layout-margin>
          <mat-select formControlName="role" placeholder="{{ 'Role' | translate }}">
            <mat-option *ngFor="let role of roles" [value]="role.identifier">
              {{ role.identifier }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="limit.get('role').hasError('required')" translate>Required</mat-error>
        </mat-form-field>
        <aten-number-input [form]="limit" controlName="limit" placeholder="{{'Limit(optional)' | translate}}"></aten-number-input>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="removeLimit(i)">{{'REMOVE LIMIT' | translate}}</button>
      </mat-card-actions>
    </mat-card>

    <div layout="row">
      <button flex mat-button mat-raised-button (click)="addLimit()">{{'ADD LIMIT' | translate}}</button>
    </div>
  </div>
</form>
