<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div layout-fill class="login-container" layout="row" layout-align="center center">
  <div flex="100" flex-gt-sm="50" flex-gt-md="35" layout="column">
    <mat-card>
      <div layout="column" layout-gt-sm="row">
        <div class="left-container" flex="40">
          <h2>Kuelap Connect</h2>
        </div>
        <div flex="60">
          <form [formGroup]="form" (ngSubmit)="login()">
            <mat-card-content>
              <div layout="row">
                <mat-form-field layout-margin flex>
                  <input matInput placeholder="{{'Tenant' | translate}}" type="text" formControlName="tenant" autofocus/>
                  <mat-error *ngIf="form.get('tenant').hasError('required')" translate>
                    Required
                  </mat-error>
                  <mat-icon matSuffix [matTooltip]="'Case sensitive e.g. MyTenant' | translate">help_outline</mat-icon>
                </mat-form-field>
              </div>
              <div layout="row">
                <mat-form-field layout-margin flex>
                  <input matInput placeholder="{{'Username' | translate}}" type="text" formControlName="username"/>
                  <mat-error *ngIf="form.get('username').hasError('required')" translate>
                    Required
                  </mat-error>
                  <mat-icon matSuffix [matTooltip]="'Case sensitive e.g. JohnDoe' | translate">help_outline</mat-icon>
                </mat-form-field>
              </div>
              <div layout="row">
                <mat-form-field layout-margin flex>
                  <input matInput placeholder="{{'Password' | translate}}" type="password" formControlName="password" autocomplete="new-password"/>
                  <mat-error *ngIf="form.get('password').hasError('required')" translate>
                    Required
                  </mat-error>
                  <mat-icon matSuffix [matTooltip]="'Case sensitive e.g. myPassword' | translate">help_outline</mat-icon>
                </mat-form-field>
              </div>
              <div layout="row" *ngIf="error$ | async as error">
                <p class="mat-caption tc-red-700">
                  {{error | translate}}
                </p>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div layout="row">
                <button flex type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
                  {{'Sign In' | translate}}
                </button>
              </div>
            </mat-card-actions>
          </form>
        </div>
      </div>
    </mat-card>
    <div layout="column" layout-align="center center" class="text">
      <div layout layout-align="center center">
        <mat-form-field class="language" flex="60">
          <mat-select [(ngModel)]="currentLanguage" name="language"
                      matTooltip="{{'Change language' | translate}}" matTooltipPosition="right" (change)="selectLanguage($event)">
            <mat-option *ngFor="let option of languageOptions" [value]="option.id">
              {{option.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <span translate>Need help? Email us at</span>&nbsp;<a href="mailto:support@kuelap.io">support@kuelap.io</a>
      </div>
    </div>
  </div>

</div>
