// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

@import '~@angular/material/theming';
@import '../../styles.scss';

$foreground: map-get($theme, foreground);

.login-container {
  background: #f2f2f2;
}

.left-container {
  background: mat-color($primary);
  padding: 16px;
  color: white;
  background-image: url("../../assets/images/kuelap-connect-login.jpg");
  background-size: cover;
}

a {
  color: grey;
  text-decoration: none;
}

.text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.language {
  margin-right: 8px
}
