<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'Save' | translate" (action)="onSave()" [disabled]="!form.valid"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card [title]="'Field verifications' | translate" [state]="form.valid ? 'valid' : form.pristine ? 'unknown' : 'invalid'">
    <form [formGroup]="form">
      <mat-checkbox formControlName="enabled" layout-margin>
        {{'Enabled?' | translate}}
      </mat-checkbox>
      <div layout-gt-xs="column" formArrayName="values">
        <div *ngFor="let value of values; let i=index" [formGroupName]="i" layout="row" layout-align="start center">
          <mat-form-field layout-margin>
            <mat-select formControlName="field" placeholder="{{ 'Select field' | translate }}">
              <mat-option [value]="'FIRST_NAME'">{{'First name' | translate}}</mat-option>
              <mat-option [value]="'SURNAME'">{{'Last name' | translate}}</mat-option>
              <mat-option [value]="'DATE_OF_BIRTH'">{{'Date of birth' | translate}}</mat-option>
              <mat-option [value]="'IDENTIFICATION_CARD'">{{'Identification card' | translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="value.get('field').hasError('required')" translate>
              Required
            </mat-error>
          </mat-form-field>
          <mat-radio-group formControlName="verification">
            <mat-radio-button [value]="'EXACT'" layout-margin>
              {{'Exact' | translate}}
            </mat-radio-button>
            <mat-radio-button [value]="'DISTANCE'" layout-margin>
              {{'Distance' | translate}}
            </mat-radio-button>
          </mat-radio-group>
          <aten-number-input placeholder="Threshold" [form]="value" controlName="threshold"></aten-number-input>
          <button mat-button (click)="removeValue(i)" color="warn" translate>
            Remove
          </button>
        </div>
        <p *ngIf="form.hasError('fieldUnique')" class="tc-red-600" translate>
          Fields can't overlap with other fields.
        </p>
        <button mat-button (click)="addValue()">{{'Add value' | translate}}</button>
      </div>
    </form>
  </aten-form-card>
</aten-page>
