<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
</aten-header>
<aten-page>
  <mat-card>
    <mat-card-title translate>Financial condition</mat-card-title>
    <mat-card-subtitle translate>View and download financial condition</mat-card-subtitle>
    <mat-card-actions>
      <a mat-raised-button color="accent" class="text-upper" [routerLink]="['financialCondition']">
        <span translate>View report</span>
      </a>
      <button mat-button color="accent" class="text-upper" (click)="downloadFinancialCondition()">
        <span translate>Download report</span>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title translate>Income statement</mat-card-title>
    <mat-card-subtitle translate>View and download income statement</mat-card-subtitle>
    <mat-card-actions>
      <a mat-raised-button color="accent" class="text-upper" [routerLink]="['incomeStatement']">
        <span translate>View report</span>
      </a>
      <button mat-button color="accent" class="text-upper" (click)="downloadIncomeStatement()">
        <span translate>Download report</span>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title translate>Trial balance</mat-card-title>
    <mat-card-subtitle translate>View and download trial balance</mat-card-subtitle>
    <mat-card-actions>
      <a mat-raised-button color="accent" class="text-upper" [routerLink]="['trialBalance']">
        <span translate>View report</span>
      </a>
      <button mat-button color="accent" class="text-upper" (click)="downloadTrialBalance()">
        <span translate>Download report</span>
      </button>
    </mat-card-actions>
  </mat-card>

</aten-page>
