<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<div layout="column" layout-fill>
  <mat-toolbar color="primary" layout style="position: fixed; top: 0px">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{tenant$ | async}} | Kuelap connect</span>
    <span flex></span>
    <mat-menu #menu="matMenu" x-position="before">
      <button mat-menu-item [disabled]="true">
        <mat-icon>account_circle</mat-icon>
        <span>{{username$ | async}}</span>
      </button>
      <hr>
      <button mat-menu-item (click)="goToSettings()">
        <mat-icon>settings</mat-icon>
        <span>{{'Settings' | translate}}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{'Sign Out' | translate}}</span>
      </button>
    </mat-menu>
    <span flex></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
  <mat-sidenav-container layout-fill>
    <mat-sidenav
      [mode]="'side'"
      [opened]="isOpened$ | async"
      style="background: #f2f2f2; border-right: 1px solid rgba(0, 0, 0, 0.12); width: 200px">
      <aten-navigation [items]="navItems"></aten-navigation>
    </mat-sidenav>
    <!-- Main content -->
    <mat-sidenav-content class="mat-sidenav-content">
      <div layout-fill layout="row" layout-align="center start" >
        <div style="padding-top: 15px" flex="100" flex-gt-sm="100" flex-gt-md="60">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <aten-notification></aten-notification>
</div>
