<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<aten-header *ngIf="loanAgreement$ | async as loanAgreement">
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Edit' | translate" (action)="editAgreement()" *ngIf="canChangeAgreement$ | async"></aten-header-primary-action>
  </aten-header-primary-actions>
  <aten-header-secondary-actions>
    <aten-header-secondary-action [title]="'Delete' | translate" (action)="delete(loanAgreement)" *ngIf="canDeleteAgreement$ | async"></aten-header-secondary-action>
  </aten-header-secondary-actions>
  <aten-header-nav-actions>
    <aten-header-nav-action [title]="'Documents' | translate" (action)="goToDocuments()"></aten-header-nav-action>
    <aten-header-nav-action [title]="'Restructurings' | translate" (action)="goToRestructurings()"></aten-header-nav-action>
  </aten-header-nav-actions>
</aten-header>
<aten-page *ngIf="loanAgreement$ | async as loanAgreement">
  <aten-loan-agreement-state-message
    [permissions]="permissions$ | async"
    [agreement]="loanAgreement"
    (onUnderwrite)="underwrite(loanAgreement)"
    (onApprove)="approve(loanAgreement)"
    (onDecline)="decline(loanAgreement)"
    (onReturn)="return(loanAgreement)"
    (onRestructure)="restructure(loanAgreement)">
  </aten-loan-agreement-state-message>
  <aten-form-card>
    <aten-text-detail [title]="'Purpose' | translate" [value]="loanAgreement.purpose"></aten-text-detail>
    <aten-text-detail [title]="'Preferred disbursement method' | translate" [value]="loanAgreement.disbursementMethod"></aten-text-detail>
    <aten-text-detail [title]="'Alternative account number' | translate" [value]="loanAgreement?.alternativeAccountNumber" *ngIf="loanAgreement?.alternativeAccountNumber"></aten-text-detail>
    <aten-date-detail [title]="'Created by' | translate" [textValue]="loanAgreement?.createdBy" [dateValue]="loanAgreement?.createdOn"></aten-date-detail>
    <aten-date-detail [title]="'Modified by' | translate" [textValue]="loanAgreement?.lastModifiedBy" [dateValue]="loanAgreement?.lastModifiedOn"></aten-date-detail>
  </aten-form-card>
  <aten-form-card [title]="'Term' | translate">
    <aten-number-detail [title]="'Principal' | translate" [value]="loanAgreement.term.principal"></aten-number-detail>
    <aten-text-detail [title]="'Duration' | translate" [value]="loanAgreement.term.length + ' ' + loanAgreement.term.period"></aten-text-detail>
    <aten-text-detail [title]="'Stop repayments after' | translate" [value]="loanAgreement.term.loanPeriodDuration + ' ' + loanAgreement.term.loanPeriod" *ngIf="loanAgreement.term.loanPeriod"></aten-text-detail>
    <aten-text-detail [title]="'Payment first due date' | translate" [value]="loanAgreement.term.payment.firstPaymentDate | date"></aten-text-detail>
    <aten-text-detail [title]="'Repay every' | translate" [value]="loanAgreement.term.payment.period | paymentPeriodLabel"></aten-text-detail>
    <aten-text-detail [title]="'Interest' | translate" [value]="(loanAgreement.term.interestRate | displayFimsNumber) + '%'"></aten-text-detail>
    <aten-number-detail [title]="'Payment' | translate" [value]="loanAgreement.term.payment.amount"></aten-number-detail>
    <aten-text-detail [title]="'Automatic payment account' | translate" [value]="loanAgreement.term.automaticPaymentAccount"></aten-text-detail>
  </aten-form-card>
  <aten-form-card [title]="'Loss allowance' | translate" *ngIf="loanAgreement.lossAllowance">
    <aten-text-detail [title]="'Stage' | translate" [value]="loanAgreement.eclStage"></aten-text-detail>
    <aten-number-detail [title]="'Amount' | translate" [value]="loanAgreement.lossAllowance"></aten-number-detail>
  </aten-form-card>
  <aten-form-card [title]="'Arrears'" *ngIf="loanAgreement.arrearsAccount">
    <aten-text-detail [title]="'Account' | translate" [value]="loanAgreement.arrearsAccount"></aten-text-detail>
    <aten-number-detail [title]="'Amount' | translate" [value]="loanAgreement.arrearsAmount"></aten-number-detail>
  </aten-form-card>

  <aten-form-card [title]="'Fees' | translate">
    <table td-data-table>
      <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column>
          {{'Description' | translate}}
        </th>
        <th td-data-table-column>
          {{'Amount' | translate}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr td-data-table-row *ngFor="let row of loanAgreement.appliedCharges">
        <td td-data-table-cell>
          {{row.description}}
        </td>
        <td td-data-table-cell>
          {{row.amount | displayFimsNumber}}
        </td>
      </tr>
      </tbody>
    </table>
    <div class="mat-padding" *ngIf="loanAgreement.appliedCharges?.length === 0" layout="row" layout-align="center center">
      <h3 translate>No fees.</h3>
    </div>
  </aten-form-card>
  <aten-form-card [title]="'Collateral' | translate" *ngIf="loanAgreement.attachedCollateral as collateral">
    <aten-custom-values
      [fields]="collateral.fields"
      [values]="collateral.values">
    </aten-custom-values>
    <ng-container *ngIf="collateral.attachedResource">
      <aten-text-detail [title]="'Deposit account for collateral' | translate" [value]="collateral.attachedResource"></aten-text-detail>
      <aten-number-detail [title]="'Secured amount' | translate" [value]="collateral.securedAmount"></aten-number-detail>
    </ng-container>
  </aten-form-card>
</aten-page>
