<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<form [formGroup]="formGroup">
  <div layout-gt-xs="column" layout-margin formArrayName="charges">
    <mat-card *ngFor="let charge of charges; let i=index" [formGroupName]="i">
      <mat-card-content layout="column">
        <mat-form-field layout-margin flex>
          <textarea matInput placeholder="{{'Description' | translate}}" formControlName="description"></textarea>
          <mat-error *ngIf="charge.get('description').hasError('required')" translate>
            Required
          </mat-error>
          <mat-error *ngIf="charge.get('description').hasError('maxlength')">
            {{ 'Only characters allowed.' | translate:{ value: charge.get('description').getError('maxlength')['requiredLength']} }}
          </mat-error>
        </mat-form-field>
        <div layout="row" layout-align="start center">
          <mat-form-field layout-margin>
            <mat-select formControlName="action" placeholder="{{'Applied on' | translate}}">
              <mat-option *ngFor="let action of actions" [value]="action.identifier">
                {{action.name | translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="charge.get('action').hasError('required')" translate>
              Required
            </mat-error>
          </mat-form-field>
          <mat-checkbox layout-margin formControlName="adHoc">
            {{'Set amount per agreement?' | translate}}
          </mat-checkbox>
        </div>
        <mat-form-field layout-margin>
          <mat-select formControlName="chargeType" placeholder="{{'Type' | translate}}">
            <mat-option [value]="option.type" *ngFor="let option of chargeTypeOptions">
              {{option.label | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div layout="row" layout-align="start center">
          <aten-number-input [form]="charge" controlName="threshold" placeholder="{{'Threshold(optional)' | translate}}"></aten-number-input>
          <aten-number-input [form]="charge" controlName="amount" placeholder="{{'Amount' | translate}}"></aten-number-input>
          <mat-checkbox layout-margin formControlName="proportional">
            {{'Proportional to principal?' | translate}}
          </mat-checkbox>
        </div>
        <aten-account-select title="{{'Revenue account' | translate}}" formControlName="revenueAccount" [type]="'REVENUE'">
          <ng-container *ngIf="!charge.get('revenueAccount').pristine && charge.get('revenueAccount').hasError('required')" translate>
            Required
          </ng-container>
          <ng-container *ngIf="charge.get('revenueAccount').hasError('invalidAccount')" translate>
            Invalid account
          </ng-container>
        </aten-account-select>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="removeCharge(i)">{{'REMOVE FEE' | translate}}</button>
      </mat-card-actions>
    </mat-card>
    <div layout="row">
      <button flex mat-button mat-raised-button (click)="addCharge()">{{'ADD FEE' | translate}}</button>
    </div>
  </div>
</form>
