<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<div [formGroup]="form" layout="column">

  <div layout="column">
    <span translate>Interest payable:</span>
    <mat-radio-group formControlName="interestPayable">
      <mat-radio-button *ngFor="let basis of payableOptions" [value]="basis.type" layout-margin>
        {{ basis.label | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div layout="column">
    <span translate>Interest type:</span>
    <mat-radio-group formControlName="interestType">
      <mat-radio-button [value]="'DECLINING'" layout-margin>
        {{ 'Reducing balance' | translate }}
      </mat-radio-button>
      <mat-radio-button [value]="'FLAT'" layout-margin>
        {{ 'Flat' | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div layout="row">
    <mat-slide-toggle formControlName="interestRangeEnabled" layout-margin>
      {{'Interest range?' | translate}}
    </mat-slide-toggle>
  </div>
  <div layout="row" *ngIf="form.get('interestRangeEnabled').value === false">
    <aten-number-input [form]="form" controlName="interestMax" placeholder="{{'Interest rate' | translate}}"></aten-number-input>
  </div>
  <div layout="row" *ngIf="form.get('interestRangeEnabled').value === true">
    <aten-min-max flex
                  minPlaceholder="{{'Minimum interest rate' | translate}}"
                  maxPlaceholder="{{'Maximum interest rate' | translate}}"
                  [form]="form"
                  minControlName="interestMin"
                  maxControlName="interestMax"
                  [requireDecimal]="false"
                  [decimalLimit]="2">
    </aten-min-max>
  </div>
  <aten-account-select title="{{'Interest income account(Revenue accounts only)' | translate}}" formControlName="interestRevenueAccount" [type]="'REVENUE'">
    <ng-container *ngIf="!form.get('interestRevenueAccount').pristine && form.get('interestRevenueAccount').hasError('required')" translate>
      Required
    </ng-container>
    <ng-container *ngIf="form.get('interestRevenueAccount').hasError('invalidAccount')">
      Invalid account
    </ng-container>
  </aten-account-select>
  <aten-account-select title="{{'Interest accrual account(Asset accounts only, optional)' | translate}}" formControlName="interestAccrualAccount" [type]="'ASSET'">
    <ng-container *ngIf="!form.get('interestAccrualAccount').pristine && form.get('interestAccrualAccount').hasError('required')" translate>
      Required
    </ng-container>
    <ng-container *ngIf="form.get('interestAccrualAccount').hasError('invalidAccount')" translate>
      Invalid account
    </ng-container>
  </aten-account-select>
</div>
