<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>

</aten-header>
<aten-page>
  <mat-card>
    <form [formGroup]="form" layout="row" layout-align="start center" class="inset">
      <mat-form-field>
        <input matInput type="date" placeholder="{{'Start date' | translate}}" formControlName="startDate">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" placeholder="{{'End date' | translate}}" formControlName="endDate">
        <mat-hint class="tc-red-500" *ngIf="form.hasError('rangeInvalid')" translate>Invalid date range</mat-hint>
      </mat-form-field>
      <aten-text-input [form]="form" controlName="account" placeholder="{{'Account' | translate}}"></aten-text-input>
      <aten-text-input type="number" [form]="form" controlName="amount" placeholder="{{'Amount' | translate}}"></aten-text-input>
      <button layout-margin mat-button mat-icon-button (click)="fetchJournalEntries()" [disabled]="!form.valid">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </mat-card>
  <mat-sidenav-container class="inset">
    <mat-sidenav #sidenav mode="side" [opened]="true" [fixedInViewport]="false">
      <mat-toolbar>
        <ng-container *ngIf="(journalEntries$ | async).length === 0" translate>
          No journal entries found
        </ng-container>
        <ng-container *ngIf="(journalEntries$ | async).length > 0" translate>
          Found {{(journalEntries$ | async).length}} journal entries
        </ng-container>
      </mat-toolbar>
      <mat-nav-list *ngIf="(journalEntries$ | async).length > 0">
        <a mat-list-item *ngFor="let entry of (journalEntries$ | async)" (click)="select(entry)" [ngClass]="journalEntry == entry ? 'active' : false">
          <h4 matLine [matTooltip]="entry.transactionDate | date:'medium'" matTooltipPosition="above">
            {{entry.transactionDate | date:'short'}}
          </h4>
          <p matLine>{{entry.transactionType}}</p>
          <p matLine>
            <span translate>Amount</span>:{{sumDebtors(entry.debtors) | displayFimsNumber}}
          </p>
          <ng-container [ngSwitch]="entry.state">
            <mat-icon class="tc-amber-800" *ngSwitchCase="'PENDING'">more_horiz</mat-icon>
            <mat-icon class="tc-green-800" *ngSwitchCase="'PROCESSED'">done</mat-icon>
          </ng-container>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <aten-transaction-detail
        [transaction]="journalEntry">
      </aten-transaction-detail>
    </mat-sidenav-content>
  </mat-sidenav-container>
</aten-page>
