<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'Save' | translate" (action)="onSave()" [disabled]="!form.valid"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card [title]="'Payments' | translate" [state]="form.valid ? 'valid' : form.pristine ? 'unknown' : 'invalid'">
    <form [formGroup]="form">
      <aten-account-select title="{{'From account' | translate}}" formControlName="sourceAccountNumber">
        <ng-container *ngIf="!form.get('sourceAccountNumber').pristine && form.get('sourceAccountNumber').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('sourceAccountNumber').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <div layout-gt-xs="column" layout-margin formArrayName="payments">
        <h4 translate>Payments</h4>
        <div *ngFor="let payment of payments; let i=index" layout="row" [formGroupName]="i">
          <mat-form-field layout-margin>
            <input matInput placeholder="{{'Member' | translate}}" type="text" formControlName="customerIdentifier"/>
            <mat-error *ngIf="payment.get('customerIdentifier').hasError('required')" translate>
              Required
            </mat-error>
            <mat-error *ngIf="payment.get('customerIdentifier').hasError('invalidCustomer')" translate>
              Invalid member or has no payroll created
            </mat-error>
          </mat-form-field>
          <aten-text-input [form]="payment" controlName="employer" placeholder="{{'Employer' | translate}}"></aten-text-input>
          <aten-number-input placeholder="{{'Salary' | translate}}" [form]="payment" controlName="salary"></aten-number-input>
          <button mat-button (click)="removePayment(i)" [disabled]="i === 0">{{'Remove' | translate}}</button>
        </div>
        <button mat-button (click)="addPayment()">{{'Add payment' | translate}}</button>
      </div>
    </form>
  </aten-form-card>
</aten-page>
