<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Download report' | translate" (action)="exportLoanAccountList()" *hasPermission="{ id: 'reporting_management', accessLevel: 'CHANGE' }"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card>
    <form [formGroup]="form" layout="row">
      <mat-form-field layout-margin>
        <mat-select formControlName="state" placeholder="{{ 'State' | translate }}">
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span>
      <button layout-margin mat-button mat-icon-button (click)="fetchLoanAccounts()" [disabled]="!form.valid" title="{{'Run report preview (limited to 100 entries)' | translate}}"><mat-icon>visibility</mat-icon></button>
    </span>
    </form>
  </aten-form-card>
  <aten-data-table
    [columns]="columns"
    [data]="loanAgreementListEntries$ | async"
    [sortable]="false"
    [pageable]="false"
    [clickable]="false">
  </aten-data-table>
  <div class="mat-padding" *ngIf="(matchingLoanAgreements$ | async)?.length>100" layout="row" layout-align="center center">
    <h4 translate>This preview is limited to 100 entries. To view all entries, download the report.</h4>
  </div>
</aten-page>
