<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<form [formGroup]="formGroup" layout="column">
  <div layout="row">
    <aten-id-input placeholder="Short name" [form]="formGroup" controlName="shortCode" [readonly]="editMode"></aten-id-input>
  </div>
  <div layout="row">
    <aten-text-input [form]="formGroup" controlName="name" placeholder="{{'Name' | translate}}"></aten-text-input>
  </div>
  <div layout="row">
    <mat-form-field layout-margin flex>
      <textarea matInput placeholder="{{'Description(optional)' | translate}}" formControlName="description"></textarea>
      <mat-error *ngIf="formGroup.get('description').hasError('maxlength')">
        {{ 'Only characters allowed.' | translate:{ value: formGroup.get('description').getError('maxlength')['requiredLength']} }}
      </mat-error>
    </mat-form-field>
  </div>
  <div layout="row">
    <mat-form-field layout-margin>
      <mat-select formControlName="currencyCode" placeholder="{{ 'Currency' | translate }}">
        <mat-option *ngFor="let currency of currencies" [value]="currency.code">
          {{currency.code}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div layout="row">
    <aten-number-input [form]="formGroup" controlName="minimumBalance" placeholder="{{'Minimum balance' | translate}}"></aten-number-input>
  </div>
  <aten-ledger-select title="{{'Equity ledger(Equity ledgers only)' | translate}}" formControlName="equityLedger" [type]="'EQUITY'">
    <ng-container *ngIf="!formGroup.get('equityLedger').pristine && formGroup.get('equityLedger').hasError('required')" translate>
      Required
    </ng-container>
    <ng-container *ngIf="formGroup.get('equityLedger').hasError('invalidLedger')" translate>
      Invalid ledger
    </ng-container>
  </aten-ledger-select>
  <aten-account-select title="{{'ACH payable account(Liability accounts only, optional)' | translate}}" formControlName="payableAccount" [type]="'LIABILITY'" *ngIf="payableAccount">
    <ng-container *ngIf="!formGroup.get('payableAccount').pristine && formGroup.get('payableAccount').hasError('required')" translate>
      Required
    </ng-container>
    <ng-container *ngIf="formGroup.get('payableAccount').hasError('invalidAccount')" translate>
      Invalid account
    </ng-container>
  </aten-account-select>
</form>
