<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'Save' | translate" (action)="onSave()" [disabled]="form.invalid"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card [title]="'Denomination details' | translate" [state]="form.valid ? 'valid' : form.pristine ? 'unknown' : 'invalid'">
    <form [formGroup]="form" layout="column">
      <mat-form-field layout-margin flex>
        <textarea matInput placeholder="{{'Note(Optional)' | translate}}" formControlName="note"></textarea>
        <mat-error *ngIf="form.get('note').hasError('required')" translate>
          Required
        </mat-error>
      </mat-form-field>
      <div layout-gt-xs="column" layout-margin formArrayName="details">
        <h4 translate>Details</h4>
        <div *ngFor="let detail of details; let i=index" [formGroupName]="i" layout="row">
          <aten-number-input [form]="detail" controlName="value" placeholder="{{'Note value' | translate}}"></aten-number-input>
          <aten-number-input [form]="detail" controlName="count" placeholder="{{'Count' | translate}}"></aten-number-input>
          <mat-form-field layout-margin>
            <input matInput
                   placeholder="{{'Subtotal' | translate}}"
                   [disabled]="true"
                   [value]="getTotalValue(detail) | displayFimsNumber"
                   flex/>
          </mat-form-field>
          <button mat-button (click)="removeDetail(i)" *ngIf="i > 0">{{'Remove detail' | translate}}</button>
        </div>
        <button mat-button (click)="addDetail()">{{'Add detail' | translate}}</button>
        <table td-data-table>
          <tbody>
          <tr td-data-table-row>
            <td td-data-table-cell>
              <b translate>Total</b>
            </td>
            <td td-data-table-cell>
              <b>{{overallTotal | displayFimsNumber}}</b>
            </td>
            <td td-data-table-cell></td>
            <td td-data-table-cell></td>
          </tr>
          <tr td-data-table-row>
            <td td-data-table-cell>
              <b translate>Cash on hand</b>
            </td>
            <td td-data-table-cell>
              <b>{{balanceSheet?.cashOnHand | displayFimsNumber}}</b>
            </td>
            <td td-data-table-cell></td>
            <td td-data-table-cell></td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </aten-form-card>
</aten-page>
