<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'Save' | translate" (action)="onSave()" [disabled]="!isValid"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card [title]="'Select loan product' | translate">
    <form [formGroup]="formGroup">
      <mat-form-field layout-margin>
        <mat-select formControlName="productShortName" placeholder="{{ 'Select product' | translate }}">
          <mat-option *ngFor="let outline of formData?.loanProducts" [value]="outline.shortName">
            {{outline.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <aten-loan-product-table
      [loanProducts]="selectedProduct ? [selectedProduct] : []"
      [disabled]="true">
    </aten-loan-product-table>
  </aten-form-card>
  <aten-form-card [title]="'Term' | translate" [state]="formGroup.valid ? 'valid' : formGroup.pristine ? 'unknown' : 'invalid'">
    <div layout="row">
      <aten-text-input
        [form]="termFormGroup"
        controlName="length"
        [placeholder]="durationPlaceholder(selectedProduct?.term.duration) | translate"
        [hint]="durationHint(selectedProduct?.term.duration)">
      </aten-text-input>
    </div>
    <form [formGroup]="formGroup" *ngIf="isDecliningInterest">
      <mat-radio-group formControlName="calculateValue">
        <div layout="row" layout-align="start center">
          <mat-radio-button value="principal"></mat-radio-button>
          <aten-number-input
            [form]="termFormGroup"
            controlName="principal"
            placeholder="{{'Principal' | translate}}"
            [decimalLimit]="selectedProduct?.currency.scale"
            [hint]="principalHint(selectedProduct?.term.principalRange)">
          </aten-number-input>
        </div>
        <div layout="row" layout-align="start center">
          <mat-radio-button value="payment"></mat-radio-button>
          <aten-number-input
            [form]="termFormGroup"
            controlName="payment"
            placeholder="{{'Payment' | translate}}"
            [decimalLimit]="selectedProduct?.currency.scale">
          </aten-number-input>
        </div>
      </mat-radio-group>
    </form>
    <aten-number-input
      [form]="termFormGroup"
      controlName="principal"
      placeholder="{{'Principal' | translate}}"
      [decimalLimit]="selectedProduct?.currency.scale"
      [hint]="principalHint(selectedProduct?.term.principalRange)"
      *ngIf="isFlatInterest">
    </aten-number-input>
    <aten-number-input
      [form]="termFormGroup"
      controlName="interestRate"
      placeholder="{{'Interest rate' | translate}}"
      [decimalLimit]="selectedProduct?.currency.scale"
      [hint]="interestHint(selectedProduct?.term.interest)">
    </aten-number-input>
    <form [formGroup]="termFormGroup">
      <mat-form-field layout-margin>
        <mat-select formControlName="period" placeholder="{{ 'Repay every' | translate }}">
          <mat-option *ngFor="let paymentPeriod of paymentPeriodOptions" [value]="paymentPeriod.period">
            {{paymentPeriod.label | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <aten-date-input
      [form]="termFormGroup"
      controlName="interestPaymentFirstDueDate"
      placeholder="{{'Payment first due date' | translate}}">
    </aten-date-input>
    <div layout>
      <button mat-raised-button color="warn" (click)="reset()" [disabled]="!locked">
        {{'RESET' | translate}}
      </button>
      <button mat-raised-button color="accent" (click)="calculate()" [disabled]="termFormGroup.invalid || locked">
        {{'CALCULATE AMORTIZATION SCHEDULE' | translate}}
      </button>
    </div>
  </aten-form-card>
  <aten-form-card [title]="'Processing fees' | translate" [state]="chargesFormGroup.valid ? 'valid' : 'invalid'" *ngIf="showFeesStep">
    <aten-agreement-charges-form
      [formGroup]="chargesFormGroup">
    </aten-agreement-charges-form>
  </aten-form-card>
  <aten-form-card [title]="'Debt to income' | translate" *ngIf="selectedProduct?.dtiConfig">
    <aten-debt-to-income-form
      [dtiConfig]="selectedProduct?.dtiConfig"
      [formGroup]="debtToIncomeFormGroup"
      (onAddMonthlyIncomeEntry)="addMonthlyIncomeEntry()"
      (onRemoveMonthlyEntry)="removeMonthlyIncomeEntry($event)"
      (onAddObligationEntry)="addObligationEntry()"
      (onRemoveObligationEntry)="removeObligationEntry($event)">
    </aten-debt-to-income-form>
  </aten-form-card>
  <aten-form-card [title]="'Collateral' | translate" *ngIf="selectedProduct?.loanType === 'COLLATERAL'">
    <aten-agreement-collateral-form
      [fields]="fields"
      [productInstances]="formData?.productInstances"
      [formGroup]="collateralFormGroup"
      [amountToSecure]="amountToSecure"
      [isRestructure]="isRestructure"
      *ngIf="collateralFormGroup">
    </aten-agreement-collateral-form>
  </aten-form-card>
  <aten-form-card>
    <form [formGroup]="formGroup" layout="column" layout-align="start start">
      <mat-form-field layout-margin>
        <mat-select formControlName="purpose" placeholder="{{'Purpose' | translate}}">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let purpose of selectedProduct?.purposes" [value]="purpose">
            {{purpose}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field layout-margin>
        <mat-select formControlName="disbursementMethod" placeholder="{{'Preferred disbursement method' | translate}}">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let option of disbursementOptions" [value]="option.type">
            {{option.label | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="!formData?.editMode">
        <div layout="row">
          <mat-slide-toggle formControlName="bankInfoEnabled" layout-margin>
            {{'Bank information?' | translate}}
          </mat-slide-toggle>
        </div>
        <div layout="row" *ngIf="formGroup.get('bankInfoEnabled').value">
          <mat-form-field layout-margin>
            <mat-select formControlName="branchSortCode" placeholder="{{'Bank info' | translate}}">
              <mat-option *ngFor="let option of formData?.bankInfos" [value]="option.branchSortCode">
                {{option.branchSortCode}} | {{option.bic}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </form>
  </aten-form-card>
</aten-page>
