// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.small {
  font-size: 40px;
  line-height: 40px;
  height: 90px;
  width: 90px;
  margin: 16px 0 0 15px;
  border-radius: 50%;
}

.medium {
  font-size: 40px;
  line-height: 40px;
  height: 190px;
  width: 190px;
  margin: 16px 0 0 15px;
  border-radius: 50%;
}

.large {
  font-size: 40px;
  line-height: 40px;
  height: 290px;
  width: 290px;
  margin: 16px 0 0 15px;
  border-radius: 50%;
}
