mat-card {
  margin-top: 15px;
  overflow: auto;
}
mat-card.unknown {
  border-left: 3px solid #e0e0e0;
}

mat-card.valid {
  border-left: 3px solid green;
}

mat-card.invalid {
  border-left: 3px solid red;
}
