<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<td-steps mode="'vertical'">
  <td-step #detailsStep label="{{'Issue cheques' | translate}}" [state]="form.valid ? 'complete' : form.pristine ? 'none' : 'required'">
    <form [formGroup]="form" layout="column">
      <aten-number-input [form]="form" controlName="start" placeholder="{{'Start at(optional)' | translate}}"></aten-number-input>
      <aten-number-input [form]="form" controlName="amount" placeholder="{{'Cheque amount' | translate}}"></aten-number-input>
    </form>
    <ng-template td-step-actions>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">{{'ISSUE CHEQUES' | translate}}</button>
      <span flex></span>
      <button mat-button (click)="cancel()">{{'CANCEL' | translate}}</button>
    </ng-template>
  </td-step>
</td-steps>
