<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'Save' | translate" (action)="onSave()" [disabled]="!form.valid"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card [state]="form.valid ? 'valid' : form.pristine ? 'unknown' : 'invalid'">
    <form [formGroup]="form">
      <mat-form-field layout-margin>
        <mat-select formControlName="mainAccountNumber" placeholder="{{ 'Select main account' | translate }}">
          <mat-option *ngFor="let entry of productInstances" [value]="entry.accountIdentifier">
            {{entry.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <aten-text-input [form]="form" controlName="employeeId" placeholder="{{'Employee id' | translate}}"></aten-text-input>
      <div layout-gt-xs="column" layout-margin formArrayName="payrollAllocations">
        <h4 translate>Allocations</h4>
        <div *ngFor="let allocation of allocations; let i=index" [formGroupName]="i">
          <mat-form-field layout-margin>
            <mat-select formControlName="accountNumber" placeholder="{{ 'Select account' | translate }}">
              <mat-optgroup [label]="'Deposit' | translate" *ngIf="productInstances?.length > 0">
                <mat-option *ngFor="let entry of productInstances" [value]="entry.accountIdentifier">
                  {{entry.label}}
                </mat-option>
              </mat-optgroup>
              <mat-optgroup [label]="'Loan' | translate" *ngIf="loanAgreements?.length > 0">
                <mat-option *ngFor="let entry of loanAgreements" [value]="entry.accountIdentifier">
                  {{entry.label}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-error *ngIf="allocation.get('accountNumber').hasError('required')" translate>
              Required
            </mat-error>
          </mat-form-field>
          <aten-number-input placeholder="Amount" [form]="allocation" controlName="amount"></aten-number-input>
          <mat-checkbox formControlName="proportional">
            {{'Proportional?' | translate}}
          </mat-checkbox>
          <button mat-button (click)="removeAllocation(i)" color="warn" translate>
            Remove
          </button>
        </div>
        <p *ngIf="form.hasError('accountUnique')" class="tc-red-600" translate>
          Allocation accounts can't use main account or overlap with other allocation accounts.
        </p>
        <button mat-button (click)="addAllocation()">{{'Add allocation' | translate}}</button>
      </div>
    </form>
  </aten-form-card>
</aten-page>
