<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<form [formGroup]="formGroup">
  <aten-account-select title="{{'Expense account(Expense accounts only)' | translate}}" formControlName="expenseAccount" [type]="'EXPENSE'" *ngIf="formGroup.get('expenseAccount').status !== 'DISABLED'">
    <ng-container *ngIf="!formGroup.get('expenseAccount').pristine && formGroup.get('expenseAccount').hasError('required')" translate>
      Required
    </ng-container>
    <ng-container *ngIf="formGroup.get('expenseAccount').hasError('invalidAccount')" translate>
      Invalid account
    </ng-container>
  </aten-account-select>
  <aten-account-select title="{{'Accrual account(Liability accounts only)' | translate}}" formControlName="accrualAccount" [type]="'LIABILITY'" *ngIf="formGroup.get('accrualAccount').status !== 'DISABLED'">
    <ng-container *ngIf="!formGroup.get('accrualAccount').pristine && formGroup.get('accrualAccount').hasError('required')" translate>
      Required
    </ng-container>
    <ng-container *ngIf="formGroup.get('accrualAccount').hasError('invalidAccount')" translate>
      Invalid account
    </ng-container>
  </aten-account-select>
  <div layout="row">
    <mat-slide-toggle layout-margin formControlName="termRegression">
      {{'Allow for regression?' | translate}}
    </mat-slide-toggle>
  </div>
  <div layout="column" *ngIf="formGroup.get('interestFactor').status !== 'DISABLED'">
    <span translate>Term interest based on:</span>
    <mat-radio-group formControlName="interestFactor">
      <mat-radio-button [value]="'PAYMENT'" layout-margin translate>Payment</mat-radio-button>
      <mat-radio-button [value]="'BALANCE'" layout-margin translate>Balance</mat-radio-button>
    </mat-radio-group>
  </div>
  <div layout-gt-xs="column" layout-margin formArrayName="terms">
    <mat-card *ngFor="let term of terms; let i=index" [formGroupName]="i">
      <mat-card-content layout="column">
        <div layout="row">
          <aten-id-input placeholder="Short name" [form]="term" controlName="identifier"></aten-id-input>
        </div>
        <div layout="row" layout-align="start center">
          <aten-text-input [form]="term" controlName="length" placeholder="{{'Period length' | translate}}"></aten-text-input>
          <mat-radio-group formControlName="period">
            <mat-radio-button *ngFor="let option of periodOptions" [value]="option.type" layout-margin>
              {{ option.label | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div layout="row" layout-align="start center">
          <aten-number-input [form]="term" controlName="interestAmount" placeholder="{{'Interest' | translate}}"></aten-number-input>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="removeTerm(i)" [disabled]="i === 0">{{'REMOVE TERM' | translate}}</button>
      </mat-card-actions>
    </mat-card>
    <div layout="row">
      <button flex mat-button mat-raised-button (click)="addTerm()">{{'ADD TERM' | translate}}</button>
    </div>
  </div>
</form>
