<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<mat-form-field layout-margin flex [formGroup]="form">
  <input matInput type="number" [placeholder]="placeholder" [formControlName]="controlName"/>
  <mat-error *ngIf="hasRequiredError" translate>
    Required
  </mat-error>
  <mat-error *ngIf="hasMinValueError">
    {{ 'Value must be greater than or equal to' | translate:{value: form.get(controlName).errors.minValue.value} }}
  </mat-error>
  <mat-error *ngIf="hasMaxValueError">
    {{ 'Value must be smaller than or equal to' | translate:{value: form.get(controlName).errors.maxValue.value} }}
  </mat-error>
  <mat-error *ngIf="hasGreaterThanValueError">
    {{ 'Value must be greater than' | translate:{value: form.get(controlName).errors.greaterThanValue.value} }}
  </mat-error>
  <mat-error *ngIf="hasScaleError">
    {{ 'Must have decimal places' | translate:{value: form.get(controlName).errors.scale.value} }}
  </mat-error>
  <mat-hint align="end" *ngIf="form.get(controlName).enabled">
    {{hint}}
  </mat-hint>
</mat-form-field>
