<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Edit' | translate" (action)="editCustomer()" *hasPermission="{ id: 'customer_customers', accessLevel: 'CHANGE'}"></aten-header-primary-action>
  </aten-header-primary-actions>
  <aten-header-nav-actions>
    <aten-header-nav-action [title]="'Loan agreements' | translate" (action)="goToLoanAgreements()" *hasPermission="{ id: 'loan_agreement', accessLevel: 'READ'}"></aten-header-nav-action>
    <aten-header-nav-action [title]="'Deposit accounts' | translate" (action)="goToDepositAccounts()" *hasPermission="{ id: 'deposit_instances', accessLevel: 'READ'}"></aten-header-nav-action>
    <aten-header-nav-action [title]="'Identification cards' | translate" (action)="goToIdentificationCards()" *hasPermission="{ id: 'customer_identifications', accessLevel: 'READ'}"></aten-header-nav-action>
    <aten-header-nav-action [title]="'Tasks' | translate" (action)="goToTasks()"></aten-header-nav-action>
    <aten-header-nav-action [title]="'Activities' | translate" (action)="goToActivities()"></aten-header-nav-action>
    <aten-header-nav-action [title]="'Payroll' | translate" (action)="goToPayroll()" *hasPermission="{ id: 'payroll_configuration', accessLevel: 'READ'}"></aten-header-nav-action>
  </aten-header-nav-actions>
</aten-header>
<aten-page *ngIf="customer$ | async as customer">
  <td-message *ngIf="customer.currentState !== 'ACTIVE'" label="{{'Member not active' | translate }}"
              sublabel="{{'You can activate the member under tasks' | translate }}"
              color="warn" icon="error">
    <button td-message-actions mat-button (click)="goToTasks()"
            *hasPermission="{ id: 'customer_customers', accessLevel: 'CHANGE'}" translate>GO TO TASKS
    </button>
  </td-message>
  <div layout>
    <mat-card flex="30">
      <mat-card-content>
        <aten-portrait (onClick)="changePortrait()" [tooltip]="'Change portrait'" [blob]="portrait$ | async"></aten-portrait>
        <mat-divider></mat-divider>
        <mat-list>
          <aten-state-display [state]="customer.currentState"></aten-state-display>
        </mat-list>
        <aten-text-detail [title]="'Birthday' | translate" [value]="customer.dateOfBirth | displayFimsDate"></aten-text-detail>
        <aten-text-detail [title]="'Application date' | translate" [value]="customer.applicationDate | date:'shortDate'"></aten-text-detail>
        <aten-date-detail [title]="'Created by' | translate" [textValue]="customer?.createdBy" [dateValue]="customer?.createdOn"></aten-date-detail>
        <aten-date-detail [title]="'Last modified by' | translate" [textValue]="customer?.lastModifiedBy" [dateValue]="customer?.lastModifiedOn"></aten-date-detail>
      </mat-card-content>
    </mat-card>
    <div flex="70" class="right-container">
      <mat-accordion [multi]="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title translate>
              Deposit accounts
            </mat-panel-title>
          </mat-expansion-panel-header>
          <aten-account-outline-table
            [accountOutlines]="depositOutlines$ | async" class="test">
          </aten-account-outline-table>
        </mat-expansion-panel>
        <mat-expansion-panel class="test">
          <mat-expansion-panel-header>
            <mat-panel-title translate>
              Loan accounts
            </mat-panel-title>
          </mat-expansion-panel-header>
          <aten-account-outline-table
            [accountOutlines]="loanOutlines$ | async">
          </aten-account-outline-table>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true" [hideToggle]="true">
          <mat-expansion-panel-header>
            <mat-panel-title translate>
              Address
            </mat-panel-title>
          </mat-expansion-panel-header>
          <aten-address-display [address]="customer.address"></aten-address-display>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true" [hideToggle]="true">
          <mat-expansion-panel-header>
            <mat-panel-title translate>
              Contact
            </mat-panel-title>
          </mat-expansion-panel-header>
          <aten-contact-detail [contactDetails]="customer.contactDetails"></aten-contact-detail>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title translate>
              Custom fields
            </mat-panel-title>
          </mat-expansion-panel-header>
          <aten-custom-values
            [fields]="(catalog$ | async)?.fields"
            [values]="customer.customValues">
          </aten-custom-values>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</aten-page>
