<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<form [formGroup]="form">
  <div layout-gt-xs="column" layout-margin [formArrayName]="arrayName">
    <mat-card *ngFor="let entry of entries; let i=index" [formGroupName]="i">
      <mat-card-content>
        <div layout="row">
          <aten-text-input [form]="entry" controlName="type" placeholder="{{'Type' | translate}}"></aten-text-input>
          <aten-text-input type="number" [form]="entry" controlName="value" placeholder="{{'Value' | translate}}"></aten-text-input>
          <button mat-button (click)="removeEntry(i)">{{'REMOVE ' + factorName | translate}}</button>
        </div>
      </mat-card-content>
    </mat-card>
    <div layout="row">
      <button flex mat-button mat-raised-button (click)="addEntry()">{{'ADD ' + factorName | translate}}</button>
    </div>
  </div>
</form>
