.sub-item {
  margin-left: 65px
}

mat-nav-list a[mat-list-item].active {
  background: #eee;
}

mat-nav-list a[mat-list-item] + mat-nav-list {
  display: none;
}

mat-nav-list a[mat-list-item].active + mat-nav-list {
  display: block;
}
