<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<td-message *ngIf="agreement.state === 'PENDING' && agreement.hasPendingAssessments"
            label="{{'Agreement is pending because of an outstanding assessment' | translate }}"
            sublabel="{{'You can send this agreement to underwriting' | translate }}"
            class="bgc-orange-200 tc-dark-deep-orange-900"
            icon="more_horiz">
  <button td-message-actions mat-button (click)="underwrite()" *hasPermission="{ id: 'loan_agreement', accessLevel: 'CHANGE' }" translate>CONFIRM ASSESSMENTS</button>
</td-message>
<td-message *ngIf="agreement.state === 'PENDING' && !agreement.hasPendingAssessments"
            label="{{'Agreement is pending' | translate }}"
            sublabel="{{'You can send this agreement to underwriting' | translate }}"
            color="accent"
            icon="more_horiz">
  <button td-message-actions mat-button (click)="underwrite()" *hasPermission="{ id: 'loan_agreement', accessLevel: 'CHANGE' }" translate>SEND TO UNDERWRITING</button>
</td-message>
<td-message *ngIf="agreement.state === 'UNDERWRITING'"
            label="{{'Agreement is ready for approval' | translate }}"
            color="accent"
            icon="thumbs_up_down">
  <button td-message-actions mat-button (click)="return()" *ngIf="canApprove" translate>RETURN</button>
  <button td-message-actions mat-button (click)="approve()" *ngIf="canApprove" translate>APPROVE</button>
  <button td-message-actions mat-button (click)="decline()" *ngIf="canApprove" translate>DECLINE</button>
</td-message>

<td-message *ngIf="agreement.state === 'APPROVED'"
            label="{{'Agreement is approved' | translate }}"
            color="primary"
            icon="done_all">
</td-message>
<td-message *ngIf="agreement.state === 'DECLINED'"
            label="{{'Agreement is declined' | translate }}"
            color="warn"
            icon="cancel">
</td-message>
<td-message *ngIf="agreement.state === 'DISBURSED'"
            label="{{'Agreement was disbursed on ' + (agreement.disbursedOn | date) }}"
            color="primary"
            icon="monetization_on">
  <button td-message-actions mat-button (click)="restructure()" *hasPermission="{ id: 'loan_agreement', accessLevel: 'CHANGE' }" translate>RESTRUCTURE</button>
</td-message>
<td-message *ngIf="agreement.state === 'DELINQUENT'"
            label="{{'Agreement is delinquent since ' + (agreement.delinquentSince | date) }}"
            class="bgc-orange-200 tc-dark-deep-orange-900"
            icon="schedule">
  <button td-message-actions mat-button (click)="restructure()" *hasPermission="{ id: 'loan_agreement', accessLevel: 'CHANGE' }" translate>RESTRUCTURE</button>
</td-message>
<td-message *ngIf="agreement.state === 'RESTRUCTURE'"
            label="{{'Agreement can be restructured' | translate }}"
            sublabel="{{'Accrued interest until today ' + (agreement.accruedInterest | displayFimsNumber) }}"
            class="bgc-orange-200 tc-dark-deep-orange-900"
            icon="drafts">
  <button td-message-actions mat-button (click)="underwrite()" *hasPermission="{ id: 'loan_agreement', accessLevel: 'CHANGE' }" translate>SEND TO UNDERWRITING</button>
</td-message>
<td-message *ngIf="agreement.state === 'REPAID'"
            label="{{'Agreement is repaid' | translate }}"
            color="primary"
            icon="check">
</td-message>
