@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

$primary: mat-palette($mat-green, 700);
$accent: mat-palette($mat-blue, 800, A100, A400);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

td-message {
  margin: 8px;
}

tr:hover.clickable-row {
  background: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.mat-expansion-panel-body {
  overflow: auto;
}
