<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'Save' | translate" (action)="onSave()" [disabled]="!form.valid"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <form [formGroup]="form">
    <aten-form-card [title]="'Journal Entry details' | translate">
      <aten-date-input placeholder="{{'Transaction date' | translate}}" [form]="form" controlName="transactionDate"></aten-date-input>
      <aten-transaction-type-select title="{{'Transaction type' | translate}}" formControlName="transactionType">
        <ng-container *ngIf="!form.get('transactionType').pristine && form.get('transactionType').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('transactionType').hasError('invalidTransactionType')" translate>
          Invalid transaction type
        </ng-container>
      </aten-transaction-type-select>
      <div layout="row">
        <mat-form-field layout-margin flex>
          <textarea matInput placeholder="{{'Note(optional)' | translate}}" formControlName="note"></textarea>
        </mat-form-field>
      </div>
      <div layout="row">
        <mat-form-field layout-margin flex>
          <textarea matInput flex placeholder="{{'Message(optional)' | translate}}" formControlName="message"></textarea>
        </mat-form-field>
      </div>
    </aten-form-card>
    <aten-form-card [title]="'Affected Accounts' | translate">
      <div layout-gt-xs="column">
        <div layout="row">
          <mat-card flex="50" formArrayName="debtors">
            <mat-card-title translate>Debit</mat-card-title>
            <mat-card-content>
              <div layout="row" layout-align="start center" [formGroupName]="i" *ngFor="let debtor of debtors; let i = index;">
                <aten-account-select formControlName="accountNumber" [title]="'Account' | translate" flex="40">
                  <ng-container *ngIf="!debtor.get('accountNumber').pristine && debtor.get('accountNumber').hasError('required')"
                                translate>
                    Required
                  </ng-container>
                  <ng-container *ngIf="debtor.get('accountNumber').hasError('invalidAccount')" translate>
                    Invalid account
                  </ng-container>
                </aten-account-select>
                <aten-text-input type="number" [form]="debtor" controlName="amount"
                                 placeholder="{{'Amount' | translate}}" flex="30"></aten-text-input>
                <button mat-raised-button color="warn" title="{{'Remove' | translate}}" (click)="removeDebtor(i)">{{'Remove' |
                  translate}}
                </button>
              </div>
              <p *ngIf="form.get('debtors').hasError('minItemsInvalid')" class="tc-red-600" translate>
                Please add at least one debit.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button mat-raised-button (click)="addDebtor()">{{'ADD DEBIT' | translate}}</button>
            </mat-card-actions>
          </mat-card>
          <mat-card flex="50" formArrayName="creditors">
            <mat-card-title translate>Credit</mat-card-title>
            <mat-card-content>
              <div layout="row" layout-align="start center" [formGroupName]="i" *ngFor="let creditor of creditors; let i = index;">
                <aten-account-select formControlName="accountNumber" [title]="'Account' | translate" flex="40">
                  <ng-container *ngIf="!creditor.get('accountNumber').pristine && creditor.get('accountNumber').hasError('required')"
                                translate>
                    Required
                  </ng-container>
                  <ng-container *ngIf="creditor.get('accountNumber').hasError('invalidAccount')" translate>
                    Invalid account
                  </ng-container>
                </aten-account-select>
                <aten-number-input [form]="creditor" controlName="amount" placeholder="{{'Amount' | translate}}" flex="30"></aten-number-input>
                <button mat-raised-button color="warn" title="{{'Remove' | translate}}" (click)="removeCreditor(i)">{{'Remove' |
                  translate}}
                </button>
              </div>
              <p *ngIf="form.get('creditors').hasError('minItemsInvalid')" class="tc-red-600" translate>
                Please add at least one credit.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button mat-raised-button (click)="addCreditor()">{{'ADD CREDIT' | translate}}</button>
            </mat-card-actions>
          </mat-card>

        </div>
        <p *ngIf="!form.pristine && form.hasError('sumInvalid')" class="tc-red-600" translate>
          Sum of debit and sum of credit must match.
        </p>
      </div>
    </aten-form-card>
  </form>
</aten-page>
