<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<aten-header *ngIf="loanDefinition$ | async as loanDefinition">
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Edit' | translate" (action)="editProduct()" *hasPermission="{ id: 'loan_consumer', accessLevel: 'CHANGE' }"></aten-header-primary-action>
  </aten-header-primary-actions>
  <aten-header-secondary-actions>
    <aten-header-secondary-action [title]="'Delete' | translate" (action)="deleteProduct(loanDefinition)" *hasPermission="{ id: 'loan_consumer', accessLevel: 'DELETE' }"></aten-header-secondary-action>
  </aten-header-secondary-actions>
</aten-header>
<aten-page *ngIf="loanDefinition$ | async as loanDefinition">
  <td-message *ngIf="!loanDefinition.active"
              label="{{'Product not enabled' | translate }}"
              sublabel="{{'To assign this product to a member it needs to be enabled first' | translate }}"
              color="warn"
              icon="error">
    <button td-message-actions
            mat-button
            (click)="enableProduct(loanDefinition)"
            translate
            *hasPermission="{ id: 'loan_consumer', accessLevel: 'CHANGE' }">
      ENABLE PRODUCT
    </button>
  </td-message>
  <td-message *ngIf="loanDefinition.active"
              label="{{'Product enabled' | translate }}"
              sublabel="{{'This product can be assigned to a member ' | translate }}"
              color="accent"
              icon="check">
    <button
      td-message-actions
      mat-button
      (click)="disableProduct(loanDefinition)"
      translate
      *hasPermission="{ id: 'loan_consumer', accessLevel: 'CHANGE' }">
      DISABLE PRODUCT
    </button>
  </td-message>
  <aten-form-card>
    <aten-text-detail [title]="'Currency' | translate" [value]="loanDefinition.currency.code"></aten-text-detail>
    <aten-text-detail [title]="'Loan appropriations ledger' | translate" [value]="loanDefinition.loanAppropriationsLedger"></aten-text-detail>
    <aten-text-detail [title]="'Arrears ledger' | translate" [value]="loanDefinition.arrearsLedger"></aten-text-detail>
    <aten-text-detail [title]="'Payment policy' | translate" [value]="loanDefinition.paymentPolicy?.payments?.join(', ') | titlecase"></aten-text-detail>
    <aten-text-detail [title]="'Funding account' | translate" [value]="loanDefinition.fundingAccount"></aten-text-detail>
    <aten-text-detail [title]="'Member loan ledger' | translate" [value]="loanDefinition.memberLoanLedger"></aten-text-detail>
    <aten-number-detail [title]="'Grace period in days' | translate" [value]="loanDefinition.term?.gracePeriodInDays"></aten-number-detail>
    <aten-text-detail [title]="'Purposes' | translate" [value]="loanDefinition.purposes?.join(', ')"></aten-text-detail>
    <aten-number-detail [title]="'Delinquent days when interest accrual is paused' | translate" [value]="loanDefinition.stopAccrualAfterDays"></aten-number-detail>
    <aten-text-detail [title]="'Created by' | translate" [value]="(loanDefinition?.createdBy) + ' - ' + (loanDefinition?.createdOn | date:'medium')"></aten-text-detail>
    <aten-text-detail [title]="'Last modified by' | translate" [value]="(loanDefinition?.lastModifiedBy) + ' - ' + (loanDefinition?.lastModifiedOn | date:'medium')"></aten-text-detail>
  </aten-form-card>
  <aten-form-card [title]="'Debt to income ratio' | translate" *ngIf="loanDefinition.dtiConfig as dtiConfig">
    <aten-number-detail [title]="'Preferred' | translate" [value]="dtiConfig.preferred"></aten-number-detail>
    <aten-number-detail [title]="'Risked' | translate" [value]="dtiConfig.risked"></aten-number-detail>
  </aten-form-card>
  <aten-form-card [title]="'Term' | translate">
    <aten-text-detail
      [title]="'Duration' | translate"
      [value]="loanDefinition.term?.duration?.min + ' - ' + loanDefinition.term?.duration?.max + ' ' + (loanDefinition.term?.duration?.period | translate)"
      *ngIf="loanDefinition.term?.duration?.min">
    </aten-text-detail>
    <aten-text-detail
      [title]="'Duration' | translate"
      [value]="loanDefinition.term?.duration?.max + ' ' + (loanDefinition.term?.duration?.period | translate)"
      *ngIf="!loanDefinition.term?.duration?.min">
    </aten-text-detail>
    <aten-text-detail
      [title]="'Stop repayments after' | translate"
      [value]="loanDefinition.term?.loanPeriod.duration + ' ' + loanDefinition.term?.loanPeriod.period"
      *ngIf="loanDefinition.term?.loanPeriod">
    </aten-text-detail>
    <aten-text-detail
      [title]="'Interest' | translate"
      [value]="(loanDefinition.term?.interest?.min | displayFimsNumber) + ' - ' + (loanDefinition.term?.interest?.max | displayFimsNumber)"
      *ngIf="loanDefinition.term?.interest?.min">
    </aten-text-detail>
    <aten-number-detail
      [title]="'Interest' | translate"
      [value]="loanDefinition.term?.interest?.max"
      *ngIf="!loanDefinition.term?.interest?.min">
    </aten-number-detail>
    <aten-text-detail [title]="'Interest type' | translate" [value]="loanDefinition.term?.interest?.interestType | translate"></aten-text-detail>
    <aten-text-detail [title]="'Interest payable' | translate" [value]="loanDefinition.term?.interest?.payable | translate"></aten-text-detail>
    <aten-text-detail
      [title]="'Principal' | translate"
      [value]="(loanDefinition.term?.principalRange?.min | displayFimsNumber) + ' - ' + (loanDefinition.term?.principalRange?.max | displayFimsNumber)"
      *ngIf="loanDefinition.term?.principalRange?.min">
    </aten-text-detail>
    <aten-number-detail
      [title]="'Principal' | translate"
      [value]="loanDefinition.term?.principalRange?.max"
      *ngIf="!loanDefinition.term?.principalRange?.min">
    </aten-number-detail>
  </aten-form-card>
  <aten-form-card [title]="'Deposit secured' | translate" *ngIf="loanDefinition.collateral && loanDefinition.collateral.type === 'DEPOSIT_SECURED'">
    <aten-number-detail [title]="'Percentage of principal' | translate" [value]="loanDefinition.collateral?.percentage"></aten-number-detail>
    <aten-text-detail [title]="'Collateral ledger' | translate" [value]="loanDefinition.collateral?.collateralLedger"></aten-text-detail>
  </aten-form-card>
  <aten-form-card [title]="'Fees' | translate">
    <table td-data-table>
      <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column>
          {{'Description' | translate}}
        </th>
        <th td-data-table-column>
          {{'Action' | translate}}
        </th>
        <th td-data-table-column>
          {{'Type' | translate}}
        </th>
        <th td-data-table-column>
          {{'Set amount per agreement?' | translate}}
        </th>
        <th td-data-table-column>
          {{'Threshold' | translate}}
        </th>
        <th td-data-table-column>
          {{'Amount' | translate}}
        </th>
        <th td-data-table-column>
          {{'Proportional' | translate}}
        </th>
        <th td-data-table-column>
          {{'Revenue account' | translate}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr td-data-table-row *ngFor="let row of loanDefinition.charges">
        <td td-data-table-cell>
          {{row.description}}
        </td>
        <td td-data-table-cell>
          {{row.action}}
        </td>
        <td td-data-table-cell>
          {{getChargeTypeOption(row.chargeType) | translate}}
        </td>
        <td td-data-table-cell>
          <mat-icon *ngIf="row.adHoc">check</mat-icon>
          <mat-icon *ngIf="!row.adHoc">close</mat-icon>
        </td>
        <td td-data-table-cell>
          {{row.threshold | displayFimsNumber}}
        </td>
        <td td-data-table-cell>
          {{row.amount | displayFimsNumber}}
        </td>
        <td td-data-table-cell>
          <mat-icon *ngIf="row.proportional">check</mat-icon>
          <mat-icon *ngIf="!row.proportional">close</mat-icon>
        </td>
        <td td-data-table-cell>
          {{row.revenueAccount}}
        </td>
      </tr>
      </tbody>
    </table>
    <div class="mat-padding" *ngIf="loanDefinition?.charges?.length === 0" layout="row" layout-align="center center">
      <h3 translate>No charges.</h3>
    </div>
  </aten-form-card>
  <aten-form-card [title]="'Approval limits' | translate">
    <table td-data-table>
      <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column>
          {{'Role' | translate}}
        </th>
        <th td-data-table-column>
          {{'Limit' | translate}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr td-data-table-row *ngFor="let row of loanDefinition.approvalLimits">
        <td td-data-table-cell>
          {{row.role}}
        </td>
        <td td-data-table-cell>
          {{row.limit | displayFimsNumber}}
        </td>
      </tr>
      </tbody>
    </table>
    <div class="mat-padding" *ngIf="loanDefinition?.approvalLimits?.length === 0" layout="row" layout-align="center center">
      <h3 translate>No approval limits.</h3>
    </div>
  </aten-form-card>
  <aten-form-card [title]="'Loss allowance' | translate" *ngIf="loanDefinition?.expectedCreditLoss as creditLoss">
    <table td-data-table>
      <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column>
          {{'Stage' | translate}}
        </th>
        <th td-data-table-column>
          {{'Percentage' | translate}}
        </th>
        <th td-data-table-column>
          {{'Past due days' | translate }}
        </th>
        <th td-data-table-column>
          {{'Cure period' | translate}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr td-data-table-row>
        <td td-data-table-cell>
          {{'Initial stage' | translate}}
        </td>
        <td td-data-table-cell>
          {{creditLoss.initialStage.percentage | displayFimsNumber}}
        </td>
        <td td-data-table-cell></td>
        <td td-data-table-cell></td>
      </tr>
      <tr td-data-table-row>
        <td td-data-table-cell>
          {{'Stage 1' | translate}}
        </td>
        <td td-data-table-cell>
          {{creditLoss.firstStage.percentage | displayFimsNumber}}
        </td>
        <td td-data-table-cell></td>
        <td td-data-table-cell></td>
      </tr>
      <tr td-data-table-row>
        <td td-data-table-cell>
          {{'Stage 2' | translate}}
        </td>
        <td td-data-table-cell>
          {{creditLoss.secondStage.percentage | displayFimsNumber}}
        </td>
        <td td-data-table-cell>
          {{creditLoss.secondStage.pastDueDays}}
        </td>
        <td td-data-table-cell>
          {{creditLoss.secondStage.curePeriod}}
        </td>
      </tr>
      <tr td-data-table-row>
        <td td-data-table-cell>
          {{'Stage 3' | translate}}
        </td>
        <td td-data-table-cell>
          {{creditLoss.thirdStage.percentage | displayFimsNumber}}
        </td>
        <td td-data-table-cell>
          {{creditLoss.thirdStage.pastDueDays}}
        </td>
        <td td-data-table-cell>
          {{creditLoss.thirdStage.curePeriod}}
        </td>
      </tr>
      </tbody>
    </table>
  </aten-form-card>
  <aten-form-card [title]="'Collateral fields' | translate" *ngIf="loanDefinition.collateral && loanDefinition.collateral.type !== 'DEPOSIT_SECURED'">
    <aten-data-table
      flex
      [columns]="columns"
      [data]="fieldData$ | async"
      [clickable]="false">
    </aten-data-table>
  </aten-form-card>
</aten-page>
