<!--
 Copyright 2018 The Mifos Initiative.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<form [formGroup]="formGroup">
  <div layout="row">
    <aten-text-input [form]="formGroup" controlName="chequeNumber" placeholder="{{'Cheque number' | translate}}"></aten-text-input>
    <aten-text-input [form]="formGroup" controlName="branchSortCode" placeholder="{{'Branch sort code' | translate}}"></aten-text-input>
    <aten-text-input [form]="formGroup" controlName="accountNumber" placeholder="{{'Account number' | translate}}"></aten-text-input>
  </div>
  <div layout="row" layout-align="start center">
    <aten-text-input [form]="formGroup" controlName="drawee" placeholder="{{'Issuing Bank' | translate}}"></aten-text-input>
    <aten-text-input [form]="formGroup" controlName="drawer" placeholder="{{'Issuer' | translate}}"></aten-text-input>
    <button mat-raised-button color="primary" (click)="expandMICR()" [disabled]="chequeFormInvalid">
      {{'DETERMINE FROM MICR' | translate}}
    </button>
  </div>
  <td-message *ngIf="micrResolutionError"
              label="{{'Issuing Bank/Issuer could not be determined in our system from the MICR you entered.' | translate}}"
              sublabel="{{'Possible reasons: Cheque number has not been issued, Branch sort code is not known in system or account number does not exist in system' | translate}}"
              color="accent"
              icon="warning">
  </td-message>
  <aten-text-input [form]="formGroup" controlName="payee" placeholder="{{'Payee' | translate}}"></aten-text-input>
  <aten-date-input [form]="formGroup" controlName="dateIssued" placeholder="{{'Date issued' | translate}}"></aten-date-input>
  <mat-checkbox formControlName="openCheque" layout-margin>
    {{'Is cheque open?' | translate}}
  </mat-checkbox>
  <td-message *ngIf="!formGroup.get('openCheque').value" label="{{'Please check identification card of member' | translate}}" color="accent" icon="warning"></td-message>
</form>
