<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<aten-header>
  <aten-header-primary-actions>
    <aten-header-primary-action [title]="'Cancel' | translate" (action)="onCancel()" [type]="'none'"></aten-header-primary-action>
    <aten-header-primary-action [title]="'Save' | translate" (action)="onSave()" [disabled]="form.invalid"></aten-header-primary-action>
  </aten-header-primary-actions>
</aten-header>
<aten-page>
  <aten-form-card [title]="'Teller details' | translate" [state]="form.valid ? 'valid' : form.pristine ? 'unknown' : 'invalid'">
    <form [formGroup]="form" layout="column">
      <aten-id-input [form]="form" [placeholder]="'Number'" controlName="code" [readonly]="editMode"></aten-id-input>
      <mat-form-field layout-margin flex>
        <input matInput type="password" placeholder="{{'Password' | translate}}" formControlName="password" tdAutoTrim autocomplete="new-password"/>
        <mat-error *ngIf="form.get('password').hasError('required')" translate>Required</mat-error>
        <mat-error *ngIf="form.get('password').hasError('minlength')">
          {{ 'Must have at least characters.' | translate:{ value: form.get('password').getError('minlength')['requiredLength']} }}
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('maxlength')">
          {{ 'Only characters allowed.' | translate:{ value: form.get('password').getError('maxlength')['requiredLength']} }}
        </mat-error>
      </mat-form-field>
      <aten-text-input type="number" [form]="form" controlName="cashdrawLimit" placeholder="{{'Cash withdrawal limit' | translate}}"></aten-text-input>
      <aten-account-select title="{{'Teller account(Asset accounts only)' | translate}}" formControlName="tellerAccountIdentifier" [type]="'ASSET'">
        <ng-container *ngIf="!form.get('tellerAccountIdentifier').pristine && form.get('tellerAccountIdentifier').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('tellerAccountIdentifier').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <aten-account-select title="{{'Vault account(Asset accounts only)' | translate}}" formControlName="vaultAccountIdentifier" [type]="'ASSET'">
        <ng-container *ngIf="!form.get('vaultAccountIdentifier').pristine && form.get('vaultAccountIdentifier').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('vaultAccountIdentifier').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <aten-account-select title="{{'Cheques receivable account(Asset accounts only)' | translate}}" formControlName="chequesReceivableAccount" [type]="'ASSET'">
        <ng-container *ngIf="!form.get('chequesReceivableAccount').pristine && form.get('chequesReceivableAccount').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('chequesReceivableAccount').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <aten-account-select title="{{'Cheques payable account(Liability accounts only)' | translate}}" formControlName="chequesPayableAccount" [type]="'LIABILITY'">
        <ng-container *ngIf="!form.get('chequesPayableAccount').pristine && form.get('chequesPayableAccount').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('chequesPayableAccount').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <aten-account-select title="{{'Notes payable account(Liability accounts only)' | translate}}" formControlName="notesPayableAccount" [type]="'LIABILITY'">
        <ng-container *ngIf="!form.get('notesPayableAccount').pristine && form.get('notesPayableAccount').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('notesPayableAccount').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <aten-account-select title="{{'ACH payable account(Liability accounts only, optional)' | translate}}" formControlName="achPayableAccount" [type]="'LIABILITY'">
        <ng-container *ngIf="form.get('achPayableAccount').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <aten-account-select title="{{'Cash over short account(Expense accounts only)' | translate}}" formControlName="cashOverShortAccount" [type]="'EXPENSE'">
        <ng-container *ngIf="!form.get('cashOverShortAccount').pristine && form.get('cashOverShortAccount').hasError('required')" translate>
          Required
        </ng-container>
        <ng-container *ngIf="form.get('cashOverShortAccount').hasError('invalidAccount')" translate>
          Invalid account
        </ng-container>
      </aten-account-select>
      <mat-checkbox formControlName="denominationRequired" layout-margin>
        {{'Denomination required?' | translate}}
      </mat-checkbox>
    </form>
  </aten-form-card>
</aten-page>
